[2017-06-30 20:04] ABDOELSHEMY opened #1 "gui for SRGAN"

[2017-06-30 21:41] zsdonghao commented on #1
hi, in this repo, before you can use SRGAN, you need to train the network via `main.py`, so you should have a GPU machine~ a basic guide as below:

- 1. download image dataset manual as the readme show.
- 2. download VGG19 model manual as the readme show.
- 3. run these in your terminal:
[code]

[2017-07-01 02:48] ABDOELSHEMY commented on #1
ok ، thanks for quick replay ، seem to be sample enough now to me to use it .

[2017-07-02 14:29] BUPTLdy opened #2 "ValueError: setting an array element with a sequence"
I use the latest tensorflow and tensorlayer，I only changed batch_size from 16 to 4, but get the following error:

`Epoch [ 0/100]    0 time: 14.7791s, mse: 0.21392143
Epoch [ 0/100]    1 time: 0.8450s, mse: 0.26192695
Epoch [ 0/100]    2 time: 0.9554s, mse: 0.17628016
Epoch [ 0/100]    3 time: 0.6539s, mse: 0.26824623
Epoch [ 0/100]    4 time: 0.5328s, mse: 0.24897709
Epoch [ 0/100]    5 time: 1.0

[2017-07-02 14:44] BUPTLdy commented on #2
Sorry, there is a corrupted image in my training set.

[2017-07-02 14:44] #2 closed

[2017-07-04 19:41] subzerofun opened #3 "Your hardware + GPU setup for training and average time to complete training"
First off, **thanks for publishing the code**!
I've looked at a lot of SRGAN implementations on github but yours is the first with an understandable code structure for Tensorflow beginners.

I just wondered how your hardware setup looked like: CPU model, which GPU – and how many?

I'm using macOS 10.12.5 with an i7 6700k and two old crappy GPUs (for now, my GTX 1080 Ti arrives on Thursday! 🎉). Ima

[2017-07-04 19:58] zsdonghao commented on #3
Hi, I am using Titan X Pascal, 32GB RAM. I think 1080 Ti should be ok ~~

It is unnormal to wait 10 mins to let it start to train. May be the compile time of SubpixelConv is very long in your machine? It may cause by CPU.

It takes me 2 days to complete 2000 epochs when I use DIV2K dataset.

After you train the model, you can input any image to upscale it, check the `def evalution()` in `main.py`

[2017-07-04 22:38] subzerofun commented on #3
Thanks for the quick answer! Can't figure out the reason for the long setup time...

The first steps go by pretty fast:

[code]

[code]

But then it freezes for a few minutes at

[code]
and then again for a few minutes at

[code]

Nevertheless, when it starts the speed is OK (as good as it can be with my 700-series cards). I'm really excited to swap out the 770 on Thursday and see how well the 108

[2017-07-08 01:13] Andreababy opened #4 "download failed"
When I download the code, it always displaying "download failed", so what should I do?
I want to ask that can i huave the authority to download the code? Thank you！ @zsdonghao

[2017-07-08 01:40] Andreababy commented on #3
Can you download the code?

[2017-07-08 01:41] Andreababy commented on #3
i cannot download it sucessful. Do you know the reason? Thank you.

[2017-07-08 09:23] zsdonghao commented on #4
git clone https://github.com/zsdonghao/SRGAN/

[2017-07-08 14:55] subzerofun commented on #3
What code do you mean specifically? The whole repository? Just enter terminal, cd into a folder where you store your projects and then execute:
`git clone https://github.com/zsdonghao/SRGAN.git`

The output should be:
[code]

[2017-07-08 17:10] rlayne commented on #3
@subzerofun I have the same concern as you.  The model takes quite some time to actually get down to training.  I suspect it is a CPU thing, since I'm running this on my home PC which packs significantly less CPU cores than a server.  Did you find a way to speed things up?

[2017-07-08 19:10] subzerofun commented on #3
No, unfortunately not... The first time i tried my CPU speed was reaching 3,8 Ghz with Turbo Boost. I forgot to disable Speed Stepping in the BIOS and went back, changed the CPU speed to be at 4.2 Ghz at all times, turned off Speed Stepping and now the training setup takes 2-3 minutes less.

I was already at epoch Nr. 570 of 2000 and then my SSDs disks space was full... Argh. I lost all my progres

[2017-07-08 21:16] zsdonghao commented on #3
`SubpixelConv2d` takes long time to compile, but it is a important part in the original paper.
However, if you like, you can use resize-convolution i.e. use `UpSamplingLayer` and `Conv2d` instead of `SubpixelConv2d` as `model.py --> SRGAN_g2()` shows.

check this link for resize-conv http://distill.pub/2016/deconv-checkerboard/

[2017-07-08 22:10] subzerofun commented on #3
@zsdonghao Will this affect the output quality? I'd rather wait a few minutes and have a better model when the actual training takes a few days than using a shortcut and getting worse results.

BTW sorry that i mention this in this thread, but could you please take a look at this issue? It won't take up much your time! [https://github.com/zsdonghao/Unsup-Im2Im/issues/9](https://github.com/zsdongha

[2017-07-09 01:56] Andreababy commented on #4
thank you

[2017-07-09 03:01] Andreababy commented on #3
I cannot download the pretrained VGG19 model.

[2017-07-09 03:31] rlayne commented on #3
Hmm. Probably need to figure a way of caching that part of the program then, if possible.  I'm not too advanced on these matters yet to know if it's possible.  On a 16-core machine perhaps it's less of an issue.

Good advice, cheers.

Yes, RAM disks are a standard approach to speeding things up if you have enough memory and the bottleneck is feeding the network.  I'd just hold the data there, I do

[2017-07-09 12:16] subzerofun commented on #3
@Andreababy If you can't downlod from mega.nz try one of these:
* 1) Check if a plugin/extension is affecting the site or try another browser
* 2) Use jDownloader, a download helper & organiser tool: [http://jdownloader.org/jdownloader2](http://jdownloader.org/jdownloader2). Install jDownoader, rightclick and copy the [link](https://mega.nz/#!xZ8glS6J!MAnE91ND_WyfZ_8mvkuSa2YcA7q-1ehfSm-Q1fxOvvs) a

[2017-07-09 12:43] Andreababy commented on #3
thank you very much发自我的华为手机-------- 原始邮件 --------主题：Re: [zsdonghao/SRGAN] Your hardware + GPU setup for training and average time to complete training (#3)发件人：subzerofun 收件人：zsdonghao/SRGAN 抄送：Andreababy <2018171324@qq.com>,Mention @Andreababy If you can't downlod from mega.nz try one of these:

Check if a plugin/extension is affecting the site or try another browser

Use jDownloader, a download h

[2017-07-10 02:10] Andreababy commented on #3
I encounter trouble again , i cannot download the "DIV2K - bicubic downscaling x4 competition " dataset, can you give me a link? thank you very much

[2017-07-10 03:16] Andreababy commented on #1
i cannot download the "DIV2K - bicubic downscaling x4 competition " dataset, can you give me a link? thank you very much. @zsdonghao

[2017-07-10 05:24] subzerofun commented on #3
@Andreababy  I too had problems finding it – there was no download link on the competition site...

Here you go:
https://data.vision.ee.ethz.ch/cvl/DIV2K/validation_release/DIV2K_test_LR_bicubic_X4.zip
https://data.vision.ee.ethz.ch/cvl/DIV2K/DIV2K_train_HR.zip
https://data.vision.ee.ethz.ch/cvl/DIV2K/DIV2K_train_LR_bicubic_X4.zip
https://data.vision.ee.ethz.ch/cvl/DIV2K/validation_release/DIV2K_v

[2017-07-10 12:07] Andreababy commented on #3
GPU GTX108

[2017-07-10 12:14] Andreababy commented on #3
In the five link, Which one should I download? Which one is the author using?

[2017-07-10 12:25] rlayne commented on #3
@Andreababy You'll need the train and validation HR and LR links, at minimum.  You may as well get the test data too, but if I recall the code here only requires training and validation sets.  There is no HR set for the testing set.  If you need more data, simply scrape high resolution images from the web, and downsample them by a factor of 4 using bicubic resampling to create the corresponding "L

[2017-07-10 13:39] Andreababy commented on #3
Thank you very much

[2017-07-11 03:42] 42binwang opened #5 "How to run SRGAN on multi-gpu？"

[2017-07-11 09:36] 42binwang commented on #3
@subzerofun Can you tell me how to run this SRGAN on multi-GPU system?

[2017-07-12 03:50] Andreababy commented on #3
When you use GTX1080Ti, how long have you spent during the whole training? @subzerofun

[2017-07-12 03:54] Andreababy commented on #3
Follow the readme, first,download the whole code,then download the VGG19 model as the readme shows,second, download the dataset,finally,run the code. @42binwang

[2017-07-12 07:20] 42binwang commented on #3
@Andreababy This code seems only use one GPU.

[2017-07-12 13:10] Andreababy opened #6 "trian"

[2017-07-12 13:10] #6 closed

[2017-07-12 13:12] Andreababy opened #7 "trained SRGAN model : https://github.com/tensorlayer/srgan/releases/tag/1.2.0"
Can you provide me your trained model? It takes me too much time to train the DIV2K dataset. @zsdonghao

[2017-07-13 10:33] subzerofun commented on #3
@Andreababy my training is not finished yet, i'm at epoch 1700/2000. I will upload the weights once the training is complete. Should be ready on Friday.

[2017-07-13 10:36] subzerofun commented on #3
@42binwang don't know about Multi-GPU, but afaik tensorflow automatically uses all available gpu devices. I'm currently running the training with two gpus, but it doesn't seem much faster compared to my tests with one gpu...

[2017-07-13 12:15] Andreababy commented on #3
waiting your trained model. @subzerofun

[2017-07-13 13:11] 42binwang commented on #3
@subzerofun You need to allocate the task on each GPUs. Tensorflow will use only the first GPU in default.

[2017-07-14 12:35] Andreababy commented on #3
When i use my own picture, in the testing,i encountered this problem,what should i do? if i want to test my own picture,what should i    @subzerofun  @zsdonghao

ResourceExhaustedError (see above for traceback): OOM when allocating tensor with shape[1,1916,2400,256]
	 [[Node: SRGAN_g/n256s1/2/Conv2D = Conv2D[T=DT_FLOAT, data_format="NHWC", padding="SAME", strides=[1, 1, 1, 1], use_cudnn_on_gpu=tru

[2017-07-14 23:14] subzerofun commented on #3
@Andreababy `OOM` means "Out of memory". You should try to free up more VRAM (close all other applications) or downscale the image. How much memory does your card have?

[2017-07-14 23:21] Andreababy commented on #3
Can you tell me how to test my own picture？发自我的华为手机

[2017-07-14 23:28] Andreababy commented on #3
i downscale the picture.it can test my own picture，but the testing quanlity is poor. it cannot raise the resolution.Can you tell me the reason？when i test my own picture， should i put my own picture in the test dataset？发自我的华为手机

[2017-07-15 00:17] subzerofun commented on #3
look in main.py for this part:
[code]
Uncomment the line. Then put in your own filename where it says "test.png" and maybe you need to change the "data2017/" folder too.

I haven't tried it, neither have i written any code for this project. So i'm just guessing.

To get good results you need the trained weights – if you upscale your images without a trained model, it won't work! I have trained wei

[2017-07-15 03:36] Andreababy commented on #3
i downscale the picture.it can test my own picture，but the testing quanlity is poor. it cannot raise the resolution.Can you tell me the reason？when i test my own picture， should i put my own picture in the test dataset？ @zsdonghao

[2017-07-15 04:19] subzerofun commented on #3
@Andreababy Hey – i've already taken my time to answer your question...

1. Download my weights from [here](https://wetransfer.com/downloads/aa53bfd9d6597f2a340c2a1e9da714e820170714234615/f92388af4d5d33a710d68529223eb43520170714234615/8db3f8)
2. Put them in your `checkpoint` folder (move your own npz files somewhere else, don't overwrite them!)
3. Change the filename (your image!) and output folde

[2017-07-15 04:44] Andreababy commented on #3
i trained my epoch（1314/2000）.it takes me so much time，so i quit it during the training.i can test the picture from the test dataset，it is very good .i input my own picture as the readme shows.

[2017-07-15 05:43] subzerofun commented on #3
These are some samples that i've generated a few minutes ago – please view the png at full size!
The first two look great, but the third has some artifacts in the branches of the trees.

What kind of image were you trying to upscale? Could you upload it?

### Left: Bicubic 4x  |  Middle: SRGAN upscaling  |  Right: Original

![test-collage-1](https://user-images.githubusercontent.com/17863119/28236

[2017-07-15 05:55] Andreababy commented on #3
![Uploading 000003.jpg…]()
![Uploading 000004.jpg…]()
![Uploading 000005.jpg…]()

[2017-07-19 18:16] shawnyuen commented on #7
I need the trained model, too. Thank you , if you can provide me.
@zsdonghao

[2017-07-21 11:53] #4 closed

[2017-07-21 11:55] zsdonghao commented on #7
what is your email address?

[2017-07-21 11:56] zsdonghao commented on #1
@Andreababy as you say you are training the network in another issue, i think you already got the images right?

[2017-07-21 12:30] Andreababy commented on #7
2018171324@qq.com   thank you

[2017-07-21 12:36] Andreababy commented on #1
i have already downloaded the dataset .but ,when i trained my own picture，the resolution quanlity is poor. is there some request  resolution in my test picture？

[2017-07-21 12:47] zsdonghao commented on #7
i am testing a new implmentation of subpixel conv 2d, may send you after testing it.

[2017-07-21 12:49] Andreababy commented on #7
Ok.

[2017-07-24 15:24] jierice commented on #3
@subzerofun @Andreababy Could you guys repost the trained model or send it to me (jasongeophysics@gmail.com)? The link above doesn't seem to work now. Also, can this be run without GPU? Thanks!

[2017-07-24 23:41] Andreababy commented on #3
i think it can run with CPU.but it will spend a lot of days. i don't finish the full training.

[2017-07-24 23:53] jierice commented on #3
Thanks for your quick reply. Could you please send me the model when you finish? Or do you still have the model from the link above?

[2017-07-25 23:24] zsdonghao commented on #3
Hi, the new implementation of [SubpixelConv2d](https://github.com/zsdonghao/tensorlayer/pull/176) solve the compile time problem, you may need to retrain the model if you use the new implementation ..

You can also use the old implementation via `SubpixelConv2d_old`.

[2017-07-27 18:33] Lakshya-Kejriwal commented on #7
Hi @zsdonghao i would also like to request that if you could provide me a copy of the trained model as well? Thanks

[2017-07-27 19:15] zsdonghao commented on #7
@Lakshya-Kejriwal sure, give me your email.

[2017-07-27 19:18] Lakshya-Kejriwal commented on #7
lkejri24@yahoo.com

[2017-07-27 19:32] zsdonghao commented on #7
@Andreababy @Lakshya-Kejriwal i already send the model to you via wetransfer, please note that, this work is only for academic and non-commercial use only. For commercial use, please contact dhsig552@163.com.

[2017-07-27 23:33] ABDOELSHEMY commented on #7
Hi @zsdonghao can you please send me a copy of the trained model ?thanks for your great and hard work.

[2017-07-28 02:54] dxxz commented on #7
If you could send me a model, that would be greatly appreciate! my email address is yangchenj@gmail.com
Thanks!

[2017-07-28 03:50] shawnyuen commented on #7
A single Titan X for training takes about 4 days...

[2017-07-28 04:45] scalerhyme commented on #7
Hi. Could you please send me a copy of the trained model? My email address is mail@scalerhyme.com.
Another problem is that I cannot get the VGG19 model through the link you gave in the README file.
Thanks very much!

[2017-07-28 05:00] Lakshya-Kejriwal opened #8 "Error in testing own image"
Hi @zsdonghao I downloaded the trained model you provided and used it to test it on my own image. But during the testing I encountered this error.
[code]

[2017-07-28 13:34] jierice commented on #7
Could you please also send me the model? My email is jasongeophysics@gmail.com. I am running on CPU. It takes me three days to reach 20/2000. Thanks a lot.

[2017-07-29 02:44] RichardIERG commented on #7
Could you please send me your trained model? My email address is hc85514301@gmail,com. Thanks a lot!

[2017-07-30 09:10] djdjoko opened #9 "speed of inference"
Would you be able to give some timings of your inference with details of GPU?

[2017-07-31 12:20] flyywh commented on #7
Could you please send me your trained model? My email address is ywhlist150578209@gmail.com.  Thank you for sharing the work!

[2017-07-31 13:23] Essenlin opened #10 "Restart training from breakpoint"
How can I start training from breakpoint ? @zsdonghao

[2017-07-31 17:47] zsdonghao commented on #10
Hi, to restore a model, you will need to save the model via `tl.files.save_npz()` and then restore the model via `tl.files.load_and_assign_npz`.

TF provides several ways to save and restore model, you may want this link: http://tensorlayer.readthedocs.io/en/latest/modules/files.html#load-and-save-network

[2017-07-31 17:48] zsdonghao commented on #9
If I remember correctly, for Titan XP, one image with size of 500x700 take around 0.4s.

[2017-07-31 17:49] zsdonghao commented on #8
Please update your TensorFlow .

[2017-07-31 22:35] zsdonghao commented on #7
@flyywh @jierice @RichardIERG please check your email, i send you via wetransfer.

[2017-07-31 22:37] zsdonghao commented on #7
@shawnyuen for people, the result is not very good. I think the reason is that the training set do not have any people ~

[2017-08-01 00:37] yanchenj commented on #7
Hey @zsdonghao , Could you please send me your trained model? I found training on my PC is super time consuming. My email is yangchenj@gmail.com. Thanks so much for sharing your work! I really appreciate!

[2017-08-01 01:55] luochuwei commented on #7
Could you please send me your trained model? My email address is luochuwei@gmail.com. Thank you very much for sharing the work!

[2017-08-01 11:32] ShieLian commented on #3
If anyone doesn't want to retrain your model and also want short compile time, try this brunch:
[patch-2](https://github.com/ShieLian/tensorlayer/tree/patch-2)

[2017-08-06 08:09] listeng commented on #7
Great work! Could you please send me your trained model? Email: aosp@163.com. Thanks.

[2017-08-06 19:50] zsdonghao opened #11 "Online discussion open"
Please join Slack,  the invite link as follow:

https://join.slack.com/t/tensorlayer/shared_invite/MjExMjMzODAwNjI0LTE0OTk4ODEzMjUtNmVjNjQ4ZjMzMw

[2017-08-07 08:56] ShieLian opened #12 "Could you please give out the PSNR & SSIM of SRResnet on Set5?"
0w0

[2017-08-09 12:01] jzrita commented on #7
May I add one more? Could you please send me your trained model? Email: jinzhi_126@163.com. Thanks.

[2017-08-09 13:18] zsdonghao commented on #7
@jzrita @listeng @luochuwei @yanchenj  I already send the model to you via wetransfer, please note that, this work is only for academic and non-commercial use only. For commercial use, please contact dhsig552@163.com.

[2017-08-10 02:25] jzrita commented on #7
@zsdonghao Hi, Donghao. The file has been well received and thank you very much.

[2017-08-11 02:44] luochuwei opened #13 "Same settings, different outputs."
hi, @zsdonghao . I'm a beginner in CV. I have trained the SRGAN using your settings and the same DIV2K dataset. But the size of my g_srgan.npz is 5952KB. The g_srgan.npz you sent to me is 8906KB. I used your npz file to test some images and I think the output is better than the model I trained. Is there any training advice for me to train a SRGAN or other GAN models? Thank you very much.

[2017-08-11 07:59] JustinhoCHN commented on #7
@zsdonghao hello, can you send me a copy of your trained model? Email: justinhochn@gmail.com ,thanks a lot!

[2017-08-11 09:10] JustinhoCHN opened #14 "Seems not training on GPU"
![qq 20170811170605](https://user-images.githubusercontent.com/24873787/29207224-e844ea6e-7eb7-11e7-9a01-18ef27bcf063.jpg)

when I run the SRGAN code - main.py, it seems not training in gpu, how to solve this problem? My gpu is GTX 1080Ti.

[2017-08-11 11:20] JustinhoCHN commented on #14
my bad, somehow tensorflow gpu version crashed, reinstalling fixed. Please close this issue, thanks.

[2017-08-11 11:20] #14 closed

[2017-08-14 01:31] JustinhoCHN commented on #10
hi @Essenlin , this source code will automatically restore the checkpoint once you restart the model training , so don't worry about how to rewrite the code to training from breakpoint.

[2017-08-14 07:23] JustinhoCHN opened #15 "How to fine-tune the SRGAN model"
hi @zsdonghao , I trained your SRGAN model for 2 days , when I evaluate the model with DIV2K images, it give pretty good result, but when I use my own image to test it , the result is not so good. So I want to use my own dataset to fine-tune the pre-train SRGAN model, should I freeze some layers and just train the last few layers? What's your suggestion?

[2017-08-14 07:59] Essenlin commented on #10
Thanks @zsdonghao @JustinhoCHN

[2017-08-14 09:45] zsdonghao commented on #15
hi @JustinhoCHN , you don't need to freeze some layers, just train on it ~

[2017-08-14 09:52] JustinhoCHN commented on #15
thanks @zsdonghao , I'm training two models , one is using pre-trained model with my own dataset, the another one is training from scratch with my own dataset, I'll check the result 2 days later.

[2017-08-16 08:13] ZJiaQi commented on #7
May I add one more? Could you please send me your trained model? Email: zhang_jiaqi01@163.com. Thank you.

[2017-08-16 10:09] ParanoidPY commented on #7
@zsdonghao 你好，我运行您的代码，出现了out of memory的错误，我的GPU为1080，8g显存。我想问一下这个是我配置原因么？您在什么配置下运行程序的？

[2017-08-16 10:26] hufengshuo07 commented on #7
@ParanoidPY I succeeded in training on one 1080ti with 11g graphics memory. Maybe you can try a smaller batch size.

[2017-08-16 10:45] JustinhoCHN commented on #7
@ParanoidPY 我用的是1080ti，显存占用了8.5G左右，所以你把batch_size改成8吧，默认是16的。

[2017-08-16 17:47] ParanoidPY commented on #7
@hufengshuo07 @JustinhoCHN  THANK YOU very much! i succeeded running the code with batch size 4! Is there any other ways to train the model with the batch size 16 in my hardware settings?

[2017-08-17 07:14] Andreababy commented on #7
测试图片占的内存太大了，降低图片大小

[2017-08-22 08:11] ghgh3269 commented on #7
Could you please send me your trained model? email: ghgh3269@gmail.com  Thank you.

[2017-08-22 13:09] JiahaoYao commented on #7
Could you please send me your trained model? email: zxc604036406@foxmail.com Thank you.

[2017-08-26 14:25] zsdonghao commented on #7
Hi all, @JiahaoYao @ghgh3269 @ZJiaQi @JustinhoCHN sorry for the late reply, please check your email, I send it via wetransfer.

[2017-08-26 14:36] JiahaoYao commented on #7
@zsdonghao Hi, Donghao. The file has been well received and thank you very much.

[2017-08-26 14:47] JiahaoYao commented on #7
However, I have a silly question: when I set the BatchSize to be 16, it stuck into OOM problem; when I set the BatchSize to be 8, I have the following problem:
Traceback (most recent call last):
  File "main.py", line 316, in <module>
    train()
  File "main.py", line 144, in train
    tl.vis.save_images(sample_imgs_96, [ni, ni], save_dir_ginit+'/_train_sample_96.png')
  File "/home/deeplearning/

[2017-08-26 15:49] ZJiaQi commented on #7
Hi, Jiahao, where should I to find the file? I haven't found out model in my emails. Thanks.

发自网易邮箱大师
On 08/26/2017 22:36, Jiahao Yao wrote:

@zsdonghao Hi, Donghao. The file has been well received and thank you very much.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-08-26 19:47] zsdonghao commented on #7
@JiahaoYao check how to use `tl.vis.save_images` man

[2017-08-27 02:00] ZJiaQi commented on #7
@zsdonghao I recevied the model, and I use the model you send to reconstruct the test images, but I got picture like this. What's wrong with me? Thank you.
![1_valid_sr](https://user-images.githubusercontent.com/23689986/29746465-ef10beba-8b0d-11e7-84b5-a347dd1988fd.png)

[2017-08-27 08:59] zsdonghao commented on #7
@ZJiaQi Make sure the image format the same with the test code, I guess your image scale didn't rescale to -1 to 1.

[2017-08-27 09:39] JustinhoCHN commented on #7
may I ask why we need to rescale the images to [-1, 1] ? Is this something like zero-centred data or something?

[2017-08-27 09:41] #15 closed

[2017-08-27 10:04] JiahaoYao commented on #7
Thank you! We can change the BatchSize into 9.

[2017-08-29 10:57] zsdonghao commented on #7
@JustinhoCHN it is for zero-centreing, just like other CNN training.

[2017-09-01 19:47] Frostinassiky opened #16 "Why does regularization appear twice?"
Hello, zsdonghao,

I have a question while running your code, although it seems not affecting the result.

In the first step of training, the program crops images and regularize them to [-1,1], as the code saying,
`    sample_imgs_384 = tl.prepro.threading_data(sample_imgs, fn=crop_sub_imgs_fn, is_random=False)
`

In the next step, however, it downsamples the results and regularizes  them again:
`

[2017-09-03 15:12] DLjiaerlin commented on #7
@zsdonghao Could you please send me your trained model? I want to study it. Emai:jk747586650@163.com

[2017-09-03 17:09] zsdonghao commented on #16
it is not a mistake as imresize will make it to 255 every time.

[2017-09-04 10:56] limwenyao commented on #7
@zsdonghao Hello, I would appreciate a copy of your trained model as well, thanks! Email: limwenyao@hotmail.com

[2017-09-05 19:40] EdwardSmith1884 opened #17 "Significance of 2 Models"
Hi,
I was wondering why there are two generator and discriminator models available? I see you actually only use one of each in the GAN, however these do not seem to be the models which align most closely with the original SRGAN architecture.
 Thank you

[2017-09-05 20:49] zsdonghao commented on #17
Hi, there is only one generator and discriminator, if you look the code carefully, you can find a `reuse`.
The architecture of generator and training method are exactly the same with the SRGAN paper.

Thank you

[2017-09-05 21:46] EdwardSmith1884 commented on #17
Ah, sorry I was not clear. I mean why do you have SRGAN_g2 and SRGAN_d2 in models.py? They do not seem to be called anywhere, but seems to be valid architectures as well. Do they perform better then their SRGAN_g and SRGAN_d counterparts and what prompted you to have the two different forms?

[2017-09-05 22:56] zsdonghao commented on #17
Hi, yes the other models haven't been used, if your GPU memory is big, you can try the other discriminator (exactly the same with SRGAN paper), but I find there is not different. For generator, the default one is better.

[2017-09-05 22:56] #17 closed

[2017-09-06 05:42] JustinhoCHN opened #18 "Resolution result from .jpg LR and .png LR are so different."
I've trained the SRGAN model for a week, my training config is :
- **dataset** : DVI2K + my own dataset, about 4000 training pics
- **epochs** : 2000
- **n_epoch_init** : 300
- **training time** : 1 week

I tested some pics, if I use the DVI2K images, it gives pretty good result:

![from DVI2K data](http://ormr426d5.bkt.clouddn.com/17-8-17/93738983.jpg)

but when I test with my images, the result

[2017-09-06 08:38] parisburn commented on #18
Did you try to convert a jpg to a png and then run a test? I am not sure why the LR jpg gives so poor quality.

[2017-09-06 08:41] JustinhoCHN commented on #18
@parisburn of course I did, I use a ** jpg format image as high resolution image**, and then convert to 1)jpg LR image, 2)png LR image, and put them to the same model.

[2017-09-06 09:15] zsdonghao commented on #18
hi, do you have human images in your training set?  because DVI2K doesn't have any human images.

[2017-09-06 09:20] JustinhoCHN commented on #18
@zsdonghao yes, there are a lot of human in my trainging set. I added my own dataset which consists of a lot of human images to DVI2K dataset, but the quality is different, my HR dataset is 300kb/image, DVI2K HR is about 4mb/image.

[2017-09-06 12:04] zsdonghao commented on #18
I see, I think your training images are too small, I suggest you to use image more than 1000+ pixels.

[2017-09-07 02:01] BloodLuna commented on #7
@zsdonghao Could you please send me your trained model?
Emai:53756e4c69@gmail.com

[2017-09-08 02:34] JiahaoYao commented on #7
I have a question, why there is always a memory error.
I have used 4 GPUs, K80. Did it mean that I would have to use even more GPUs.

[*] save images
[*] checkpoint/g_srgan.npz saved
Traceback (most recent call last):
  File "main.py", line 320, in <module>
    train()
  File "main.py", line 246, in train
    tl.files.save_npz(net_d.all_params, name=checkpoint_dir+'/d_{}.npz'.format(tl.global_flag

[2017-09-08 08:29] JustinhoCHN opened #19 "LR Image preprocessing did not rescale to [0, 1]"
In the original paper, the author proposed scaling the LR input images to [0, 1]:

But in the source code main.py, in the training section line 224, LR input images are rescaled to [-1, 1] instead:
[code]
The threading_data function is :
[code]
It seems both the HR images and LR images are rescaled to [-1, 1], if we follow the paper's advice, rescaling the LR images to [0, 1], would it be much bet

[2017-09-08 16:15] john820911 commented on #7
@zsdonghao Can I also have your trained model? It would be much appreciated to have one :)
My email: [r05943135@ntu.edu.tw](url)

[2017-09-09 06:14] naseeresmael commented on #7
@zsdonghao Could you please send me your trained model? My email address is omar44khatab@gmail.com. Thank you for sharing the work!

[2017-09-09 10:23] zsdonghao commented on #7
Check your email for the model.
Note that this work can't be used in commerical project.

[2017-09-09 10:25] zsdonghao commented on #19
It doesn't matter, they should have the same performance, but if you want to compute PSNR, you should rescale it to [0, 1].

[2017-09-09 11:48] naseeresmael commented on #7
great I recevied the model, thank you @zsdonghao .

[2017-09-12 02:51] naseeresmael opened #20 "2x scale photo"
hi @zsdonghao , thanks for this great work, i have some photo want to upscal it to 2x , could you please explane to me ho to do that .

[2017-09-12 23:22] yan7109 commented on #7
@zsdonghao please share your trained model to derek.zh.yan@stanford.edu, thanks

[2017-09-13 06:51] #19 closed

[2017-09-13 07:03] JustinhoCHN opened #21 "Why the HR training images use "crop_sub_imgs_fn" ?"
I noticed that the training data preprocessing step, the HR images using **"crop_sub_imgs_fn"** to rescaled to the target size, while the LR images using **"downsample_fn"**. Besides, the "crop_sub_imgs_fn" is randomly cropping the image, if we do so, the HR/LR pair will not match right? Since the corresponding training image region is different!

[code]
[code]
[code]

[2017-09-20 02:02] BloodLuna commented on #7
i got you mail,but the Transfer has deleted
Could you please send me your trained model again?
My Email : 53756e4c69@gmail.com
thank you

[2017-09-22 06:41] Aixile commented on #7
@zsdonghao  Could you please send me your trained model? jinyh13@fudan.edu.cn, Thanks

[2017-09-25 06:23] kankur commented on #7
@zsdonghao  Can you please send me the trained model on kadam.ankur04@gmail.com.

[2017-09-25 07:02] kankur opened #22 "training on 4K image (3840x2160)"
I am getting following error while training my 4K image dataset
ValueError: Cannot feed value of shape (10, 96, 96, 3) for Tensor 't_image_input_to_SRGAN_generator:0', which has shape '(16, 96, 96, 3)'

[2017-09-25 08:49] wqi commented on #7
@zsdonghao Could I please get access to the trained model as well? My email is wiqi@alumni.ubc.ca. Many thanks!

[2017-09-25 08:52] zsdonghao commented on #7
wiqi@alumni.ubc.ca kadam.ankur04@gmail.com jinyh13@fudan.edu.cn 53756e4c69@gmail.com derek.zh.yan@stanford.edu

Please check your email.

[2017-09-25 08:53] zsdonghao commented on #22
Just like the error say: the data you feed into the placeholder didn't have the correct shape, you batch size is mismatched.

[2017-09-25 08:54] zsdonghao commented on #20
just remove one Subpixel block.

[2017-09-26 07:10] #22 closed

[2017-09-26 18:21] #20 closed

[2017-09-28 02:32] moono commented on #7
Hello, @zsdonghao. May I ask for trained model too please? My email is toilety@gmail.com thanks in advance.

[2017-09-29 15:29] tangyoubao commented on #7
Hi, @zsdonghao .Would you send the pre-trained model to me? Thanks. My email is tybxiaobao@gmail.com.

[2017-09-30 02:15] Thanhhoang283 commented on #7
Hi, @zsdonghao. Could you please send me your trained model? My email address is hoangducthanh283@gmail.com. Thanks in advance.

[2017-10-03 08:17] iluhandric commented on #7
Hi, @zsdonghao! Thanks for the amazing work! Could you please send me your checkpoints? My email is solovev1910@gmail.com. Thanks!

[2017-10-06 06:11] michalkoziarski commented on #7
@zsdonghao I'd be grateful for the model, michal.koziarski@gmail.com.

[2017-10-06 10:01] zsdonghao commented on #7
check your emails.

[2017-10-09 11:10] foromer4 opened #23 "Training image size"
Thank you for publishing this work.
Currently it seems that the training image must be above 384*384 pixels to allow cropping function, however for faces that is too big. Is it possible to make the size a parameter?

[2017-10-11 02:11] Flying-Sailor commented on #7
@zsdonghao Hi, thanks for sharing your awesome code :) , Could you please send me your pre-trained model.
My email : volantmarin@gmail.com
Thanks.

[2017-10-11 07:49] jiaozixian opened #24 "ValueError: zero-size array to reduction operation minimum which has no identity"
你好，我运行下面这句时，
sess = tf.Session(config=tf.ConfigProto(allow_soft_placement=True, log_device_placement=False))
出现
The TensorFlow library wasn't compiled to use SSE instructions, but these are available on your machine and could speed up CPU computations.The TensorFlow library wasn't compiled to use SSE2 instructions, but these are available on your machine and could speed up CPU computations.等问题。不过还

[2017-10-11 13:38] #24 closed

[2017-10-11 18:55] bautc commented on #7
That's amazing !
may I try out your pre-trained model ?
Thanks a lot !
email : bautc@yahoo.com

[2017-10-13 05:46] akimin commented on #7
Could you please send me your trained model? My email address is akimin_lee@hotmail.com. Thanks a lot!

[2017-10-13 07:12] kankur commented on #7
@zsdonghao  Thanks for your response. I got your model weights for 2X.
Do you have weights for 4X also? Please send on kadam.ankur04@gmail.com

[2017-10-13 17:39] zsdonghao commented on #7
check your email.

[2017-10-15 15:41] shipengtao commented on #7
@zsdonghao Hi, thanks for the awesome work!  Could you please send me your trained model? I hope it is  weights for 4X, My email address is ml2spt@gmail.com .  Thanks!

[2017-10-17 01:18] laoyangui commented on #7
Hi, @zsdonghao.  Could you please send me your pre-trained model? My email address is fzu_su@126.com. Thanks!

[2017-10-18 06:54] zhangwlgq commented on #7
Send me the pre-trained model please!
My email address is zhangwlgq@gmail.com.
Thanks!

[2017-10-18 13:41] Yolkis commented on #7
May i ask you for your pre-trained model?
Training the DIV2K dataset on my laptop CPU is takes too much time.
Share please.
yolkis@inbox.ru

[2017-10-18 14:08] zmh0510 commented on #7
Hi, @zsdonghao. I am a PHD student. I want to test some images in your model just for academic purpose. If you could send me a model, that would be greatly appreciate! My email address is 1260796864@qq.com.
Thanks!

[2017-10-18 15:26] zsdonghao commented on #7
@zmh0510 @Yolkis @zhangwlgq @laoyangui @shipengtao Please check your email.

[2017-10-19 03:06] benzhangwang commented on #7
@zsdonghao. Recently, I am learning about the GANs as my PHD topic, so I ask you to send me your trained model. My email is benzhang_wang@163.com.
Thanks!

[2017-10-19 08:23] okami666 opened #25 "issues when training"
Thank you for publishing this work.
Currently when I am run the main.py when training,I met with such issues:

Traceback (most recent call last):
  File "/home/weasly/\SRGAN/SRGAN-master/SRGAN-master/main.py", line 316, in <module>
    train()
  File "/home/weasly/SRGAN/SRGAN-master/SRGAN-master/main.py", line 141, in train
    print('sample HR sub-image:',sample_imgs_384.shape, sample_imgs_384.mi

[2017-10-20 06:29] jiaozixian commented on #25
check your train data path ，the code has not read the data。

[2017-10-20 13:47] okami666 commented on #25
thank you

[2017-10-23 01:58] zhuguoguo123 commented on #25
Did you solve the problem? Is this file needed to be prepared in advance?

thank you

[2017-10-23 02:36] zhuguoguo123 commented on #25
Hello ! Are these  files needed to be prepared in advance? Did you have these  files??  Thank you for your help . @jiaozixian

[2017-10-23 03:23] comicchang commented on #7
Please send me the pretrained model, thank you
comicchang@gmail.com

[2017-10-23 03:44] zhuguoguo123 commented on #7
Could you please send me the pre-trained model?Thank you  very much . myaddress is 695839913@qq.com

[2017-10-23 07:01] kankur commented on #7
I am unable to download 2X and 4X model weights due to file deleted by Wetransfer. Can you please send them again.

[2017-10-23 07:22] jiaozixian opened #26 "Does the "batch_size" influence the effect of model?"
@zsdonghao ，thanks for your code. I run the code, it works well when loading the images.But when running the conv2d,it raises "resource exhaust error".So I modify the
 "batch_size" from "16" to "4",it works well。After finish the 2000 epoch training，I get the model.But  when I evaluate my own images.it seems not good as I wished。My
question1：Does the “batch_size” will influence  the effect of train

[2017-10-23 07:55] jiaozixian commented on #3
@subzerofun Could you send me your model? your link shows"transfer deleted". 345239728@qq.com     thanks very much.

[2017-10-23 10:22] Imanpour commented on #7
Do you have the trained networks at earlier epochs too? For examole at iteration 40 or 50 and so on. Because for my algorithm I can not wait until epoch 2000. I want to have earlier compare of the results for example at epoch 50.

[2017-10-24 01:05] jiaozixian commented on #7
@zsdonghao Could you send me your trained model? Thank you very much. 345239728@qq.com

[2017-10-24 09:54] Ianmcmill commented on #7
Hello, I would need some clarification as this is all new to me.
The instruction says that I need the VGG model and in ii. I need to have a dataset to train.
I guess the VGG model and a trained model is not the same?
What is the difference?

And could you send me your pretrained model please? thegalaxynews@gmail.com

[2017-10-25 05:39] hariag commented on #7
@zsdonghao could you please share your pre-trained model with me, thank you!
guochangzhu@qq.com

[2017-10-26 06:13] stepByStepToSky commented on #7
Hi,

I just tried to train the SRGAN network. But it seems to take much time. Would you mind sending me the trained network for your code in link below:

https://github.com/zsdonghao/SRGAN

Thanks for your time and your kindness.

My email is 976434395@qq.com

[2017-10-26 06:17] stepByStepToSky commented on #7
@zsdonghao
Hi,
I just tried to train the SRGAN network. But it seems to take much time. Would you mind sending me the trained network for your code in link below:

https://github.com/zsdonghao/SRGAN

Thanks for your time and your kindness.

My email is 976434395@qq.com

[2017-10-26 07:21] Imanpour commented on #7
Does your code have the ability to run on multiple GPU?

[2017-10-28 16:19] tuxzz commented on #7
have anyone tested this model on anime images?

[2017-10-28 17:36] Imanpour commented on #7
Still waiting...

[2017-10-31 03:06] sukkyusun opened #27 "following error occured training own image"
Exception in thread threading_and_return:
Traceback (most recent call last):
  File "/home/user01/anaconda2/envs/tensorflow/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/home/user01/anaconda2/envs/tensorflow/lib/python2.7/threading.py", line 754, in run
    self.__target(*self.__args, **self.__kwargs)
  File "/home/user01/SRGAN-master/tensorlayer/prepro.py", l

[2017-10-31 03:08] sukkyusun commented on #27
i think input io error

[2017-10-31 04:13] sukkyusun commented on #27
solved, converting image to jpg

[2017-10-31 04:13] #27 closed

[2017-11-04 09:51] lnrd25 commented on #7
Hi @zsdonghao, could you please send me your trained model? My email address is lanerd.rossi@gmail.com
Thank you!

[2017-11-06 08:19] liyuanye commented on #7
@zsdonghao
liyuanye_bupt@163.com
thank you

[2017-11-06 15:11] zsdonghao commented on #7
@liyuanye @lnrd25 @stepByStepToSky @hariag @Ianmcmill @jiaozixian @zhuguoguo123 @comicchang @Imanpour  @benzhangwang @kankur Hi all, please check your email.

[2017-11-08 01:32] laur0312 commented on #7
Hi, @zsdonghao, could you please provide me your trained model? My email address is laurance0312@126.com
Thank you

[2017-11-08 09:04] kollisarath commented on #7
Hi, @zsdonghao , Can you please send the trained model to kollisarath@gmail.com

[2017-11-09 02:59] dbachko commented on #11
@zsdonghao can you update this invite link please? It is dead: **_This invite link is no longer active._**

[2017-11-09 04:19] naaktslaktauge commented on #7
Hi, @zsdonghao . Could u send me the trained model to naaktslak.taugetauge@gmail.com ??

[2017-11-09 06:45] zhuguoguo123 commented on #7
@zsdonghao  I have recevied the pre-trained model,  Thank you for your sharing .

[2017-11-09 06:54] zhuguoguo123 commented on #7
@zsdonghao Thank you for your sharing.Would you mind send me the pre_trained code  or where can i get it.

[2017-11-09 11:14] zsdonghao commented on #11
update link: https://join.slack.com/t/tensorlayer/shared_invite/enQtMjUyMjczMzU2Njg4LWI0MWU0MDFkOWY2YjQ4YjVhMzI5M2VlZmE4YTNhNGY1NjZhMzUwMmQ2MTc0YWRjMjQzMjdjMTg2MWQ2ZWJhYzc

[2017-11-10 06:25] RuijieHou commented on #7
hi, @zsdonghao Could you please send me your trained model to ruijiehou@gmail.com? Thanks a lot!

[2017-11-12 18:54] jinyixin621 commented on #7
Can someone send me a trained model???  @zsdonghao  jyx0621@gmail.com

[2017-11-13 02:38] luckyboysmith commented on #26
Hello, i meet the same problem
did u solve this problem?
hoping to get your reply

[2017-11-13 02:45] luckyboysmith opened #28 "ValueError: could not broadcast input array from shape (2040,1356,3) into shape (2040)"
i'm new to GAN,
i set batchsize form 16 to 4 when training
and when epoch 35,
this issue occurs:
Traceback (most recent call last):
  File "main.py", line 320, in <module>
    train()
  File "main.py", line 167, in train
    b_imgs = tl.prepro.threading_data(b_imgs_list, fn=get_imgs_fn, path=config.TRAIN.hr_img_path)
  File "/home/wang/SRGAN-master/tensorlayer/prepro.py", line 105, in threading_da

[2017-11-13 04:23] luckyboysmith commented on #28
solved

[2017-11-13 04:23] #28 closed

[2017-11-13 10:30] zsdonghao commented on #26
question1：Does the “batch_size” will influence the effect of training？

Larger batch size need more GPU memory, nothing else.

question2：Could you send me the model you trained，I want to compare it with mine.Thank you very much. 345239728@qq.com

Pls leave a message in the `trained model` issue.

[2017-11-14 11:27] zsdonghao commented on #7
@jinyixin621 @RuijieHou @zhuguoguo123 @naaktslaktauge @kollisarath @laur0312 hi all, check your email.

[2017-11-15 00:35] naseeresmael commented on #7
hi @zsdonghao could you please send me your model weights for 2X my mail abdo333pasha@gmail.com

[2017-11-15 02:31] xws117 commented on #7
@zsdonghao  大神可以发我一份训练模型吗？ 我的邮箱是1179066213@qq.com

[2017-11-15 09:39] q512624756 commented on #7
@zsdonghao Can u please send the trained model to wxa789789@163.com ?thank you very much!!!

[2017-11-15 18:51] circlehy opened #29 "using only one subpixel layer?"
i tried to modify the code to train a x2 model, and by using only one subpixel layer and set the scale=2,or using two subpixel layer set the scale_1=1, scale_2=2, but during training the results seems pretty bad and i don't know why,following are the generated images during training do you have any idears ? i had trained your x4 model and it seems to produce a better results from the begining @zsd

[2017-11-17 03:24] #29 closed

[2017-11-19 03:35] feiyun1265 commented on #7
Hi, @zsdonghao. Can you please send me your pre-trained model? My email address is chshfmail@163.com. I just use the model for study, Thanks!

[2017-11-19 14:10] JimKlingshirn commented on #7
Hi, @zsdonghao, could you please provide me your trained model? My email address is JimKlingshirn@gmail.com
Many Thanks!

[2017-11-20 07:17] scalerhyme commented on #7
Hi, @zsdonghao. Could you please send me your trained model? My email address is yydjtc1990@gmail.com. Thanks!

[2017-11-21 01:46] dojure commented on #7
Thanks for this fantastic work @zsdonghao, I would very much appreciate your trained model as well, if you don't mind. etienned@ethz.ch

[2017-11-22 02:14] syan1992 opened #30 "OOM when allocating tensor with shape[16,64,192,192]"
If someone meet this problem during training.
It seems a memory problem. My GPU memory is 4G. I'm not sure if it's enough.

[2017-11-22 07:42] T-tssxuan commented on #7
Hi, @zsdonghao, thanks for your great work, could you please share your model as competitor in my work? thanks a lot, louxuan@bupt.edu.cn

[2017-11-22 15:05] zsdonghao commented on #30
it is not enough, you can try to reduce the batch size

[2017-11-23 20:27] zsdonghao commented on #7
@T-tssxuan @dojure @scalerhyme @JimKlingshirn @feiyun1265 @q512624756 @xws117 @naaktslaktauge please check your email.

[2017-11-24 02:11] feiyun1265 commented on #7
Dear @zsdonghao, I have checked my email, but i did not receive the trained model, can you send me again, my email:chshfmail@163.com, Thank you for your share!

[2017-11-25 05:45] zhuguoguo123 opened #31 "Do someone use the SRGAN_g2 in model.py ?? Why "UpSampling2dLayer" do not work??"

[2017-11-25 17:01] zsdonghao commented on #31
@zhuguoguo123 ,   `UpSampling2dLayer` is for resize-convolution which can reduce checkerboard artifact, this blog may help you understand https://distill.pub/2016/deconv-checkerboard/
However, we want to reproduce the SRGAN paper here, so we used `SRGAN_g` by default.

[2017-11-26 02:30] scalerhyme commented on #7
Hi, @zsdonghao. I'm sorry that I haven't received the model you sent to me in my email. Could you please send again(yydjtc1990@gmail.com)? Thanks so much!

[2017-11-26 12:46] zsdonghao commented on #7
@scalerhyme please check the wetransfer email

[2017-11-26 15:26] scalerhyme commented on #7
Thank you! I got the email this time! :)

Hao <notifications@github.com>于2017年11月26日周日 下午8:47写道：

[2017-11-28 04:06] feiyun1265 opened #32 "issues when training with my own image"
Hi, @zsdonghao, Thank you for sharing your work. I have a problem need you help, thank you!
I occur a error when training with my own image, error information as follows:
Epoch [ 0/100]   28 time: 0.6905s, mse: 0.11056122
Epoch [ 0/100]   29 time: 0.6591s, mse: 0.09596997
Epoch [ 0/100]   30 time: 0.6747s, mse: 0.10335217
Traceback (most recent call last):
  File "main.py", line 316, in <module>

[2017-11-28 11:41] zsdonghao commented on #32
hi, make sure the data you feed in have the correct batch size ~~

[code]

[2017-11-29 01:13] animeshramesh commented on #32
@feiyun1265, You need to ensure that the total number of images in your dataset is divisible by the batch size.

[2017-11-29 03:47] feiyun1265 commented on #32
Thanks for all answer. I have solved the problem. The issuse is the number of training images. Set training images as integral multiple of batch size. Thank you all.

[2017-11-29 03:47] #32 closed

[2017-11-29 06:38] lorhm commented on #7
Hey @zsdonghao , really appreciate you sharing your work!
It would be great if you could mail the model to me at:  rahul95ram@gmail.com
Cheers!

[2017-11-30 02:36] zhuguoguo123 commented on #31
@zsdonghao   really appreciate you sharing your work!

[2017-11-30 03:01] padwha commented on #7
Impressed by your work and thank you for sharing.
It would be greatly appreciated if you can send me the trained model.
My email address is "dwookha@gmail.com"
Thank you!

[2017-11-30 04:28] lisen0 opened #33 "What do I need to do if I want to use the model to gray images?"
Hi,
I want to use the SRGAN model to train my own images, but they are gray. So I want to know what I need to do to train these images. It seems that I need do a lot of changes.
Thank you very much!

[2017-11-30 17:14] zsdonghao commented on #33
@lisen0 hi, it is very simple. you can simply change the placeholder channel from 3 to 1.

i.e. `[batch_size, 96, 96, 3]` to `[batch_size, 96, 96, 3]` and `[batch_size, 384, 384, 3]` to `[batch_size, 384, 384, 1]`.

that is all.

[2017-11-30 19:36] RachitB11 commented on #7
Hi, it would be great if you could send me the trained model as well on "rachitbh@seas.upenn.edu"
I'm facing memory issues using the default batch size of 16 on a 4gb 1050 Ti.

[2017-12-01 04:49] lisen0 commented on #33
Thank you! I will try that.

[2017-12-03 22:55] kevinjoseph1995 commented on #7
Hey, @zsdonghao it would be awesome if you could share the trained model, as training on my machine is just taking too long. Email: kevjoseph@umass.edu

[2017-12-03 23:24] zsdonghao commented on #7
@kevinjoseph1995 @RachitB11 @padwha @scalerhyme hi, please check the wetransfer email.

[2017-12-04 07:11] hankobe commented on #7
@zsdonghao Can I also have your train model? My email is "hanjoey882@163.com". Thank you very much.

[2017-12-04 10:10] carlblocking commented on #7
你好。如果我想尝试2倍放大情况下的超分该怎么做呢？本科生刚开始接触，还不大会改代码，还望指导一下

[2017-12-04 11:46] zsdonghao commented on #7
@carlblocking 去掉一层 supbixconv

[2017-12-04 12:03] hankobe opened #34 "training not using GPU"
Thank you for your brilliant code. But when I train that code, it just use CPU other than GPU. Thus cause the process very slow. I changed "use_cudnn_on_gpu=None" to True in the file layers.py of the folder tensorlayer, but it was in vain.

So what should I do to run the code with GPU? Thank you for your reply.

[2017-12-05 10:16] chaoyu0804 commented on #33
@lisen0 You also may need to change the last Conv2d in the generator network like using only one filter, since you only have one channel in gray images.

[2017-12-05 12:59] yhy1993824 commented on #7
@zsdonghao May I add one? It will be great if you could send the training model to me. My e-mail is "yhy1993824@gmail.com". Thank you very much.

[2017-12-06 05:13] lisen0 commented on #33
It seems that I need to change more details. For example, the function tl.visualize.save_images in tensorlayer will always save the images with three channels even if the input channel is just one.

[2017-12-06 05:19] lisen0 commented on #33
@zsdonghao  Maybe you could modify the method tl.visualize.save_images in tensorlayer to make it more flexible, like firstly checking the channel number of input.

[2017-12-06 05:39] xxccry commented on #7
Hi @zsdonghao , I  would also like to request that if you could provide me a copy of the trained model as well? Thanks

[2017-12-06 21:07] dgrinb01 commented on #7
Hi @zsdonghao , can you please send me the trained model? My email is dgwbox-in@yahoo.com , Thank you.

[2017-12-07 09:17] marbleappdev commented on #7
@zsdonghao could you please email me the trained model? My email is us.klee@gmail.com.  Thank you!

[2017-12-07 09:39] Primus-zhao opened #35 "Why all PReLU layers are dropped?"
Compared with the original paper, i found all PReLU layser have been dropped, why? It's better not using any activation function after conv through expriment?

[2017-12-07 10:02] Primus-zhao commented on #35
Sorry, didn't read README carefully, my mistake.

[2017-12-07 10:02] #35 closed

[2017-12-07 16:34] HazekiahWon commented on #7
@zsdonghao Thanks for your brilliant work and sharing your code, it's really shedding light on me.
While my repoducing your work, however, the resulting HR image appears somehow darker (check it below). So I would greatly appreciate it if you could email me your trained model so that I can make further survey and comparisons. My email is [1470468661@qq.com](mailto:1470468661@qq.com)
![valid_bicubi

[2017-12-07 20:33] zsdonghao commented on #7
hi @yhy1993824 @xxccry @dgrinb01 @marbleappdev @HazekiahWon , please check the wetransfer email

[2017-12-08 03:50] syan1992 opened #36 "A question about image preprocessing"
x = x / (255. / 2.)
    x = x - 1.

what's the meaning of this step. Why it can't converge without doing it.

[2017-12-08 12:50] zsdonghao commented on #36
it is one kind of normalisation which scale the image value to -1~1, it normally use in many CNN training which can help to stabilise the training process.

[2017-12-08 13:36] syan1992 commented on #36
Get it. Thank u

[2017-12-09 00:17] SmezMorePrakezz commented on #7
@zsdonghao Can you provide me the trained model. Please :-) My e-mail is golfpokaeo@gmail.com

[2017-12-10 12:39] ourana35 commented on #7
@zsdonghao  Could you please send me your improved trained model? Thanks. My email address: yyena35@163.com

[2017-12-12 09:51] zhuguoguo123 commented on #33
The Vgg19_simple_api seems needs 3 channels.Does it matter??

[2017-12-14 10:04] suke27 commented on #18
hi, do you have any new result for this problem, I also found there are difference between jpg and png

[2017-12-14 10:30] JustinhoCHN commented on #18
@suke27 there's no way to solve this problem for now, because jpg is loss compression, it throws away a lot of image information, while png preserved all information.

[2017-12-14 17:15] 32nguyen opened #37 "Pre-train VGG on different application"
Hi zsdonghao,
Thanks for sharing your work with tensorflow. On my application, my inputs do not have 3 channels like RGB images (let says they have 5 channels). I believe that I can not use the pre-trained VGG because my inputs have different standard.

So, my concern is that if I want to apply pre-trained VGG, I have to pre-train it first with my inputs (5 channels) until certain time, then use t

[2017-12-15 06:25] lemony1314 opened #38 "Error happened when training"
**Epoch [ 0/100]   49 time: 0.9090s, mse: 0.07975296
Traceback (most recent call last):
  File "/home/hy/PycharmProjects/SRGAN-zsdonghao/main.py", line 316, in <module>
    train()
  File "/home/hy/PycharmProjects/SRGAN-zsdonghao/main.py", line 175, in train
    errM, _ = sess.run([mse_loss, g_optim_init], {t_image: b_imgs_96, t_target_image: b_imgs_384})
  File "/usr/local/lib/python2.7/dist-pack

[2017-12-15 15:14] usmanxia commented on #7
@zsdonghao  Can you please email your pre-trained model. My email is usman.phd@students.mcs.edu.pk.

Thank you

[2017-12-15 15:23] ishmael1985 commented on #7
@zsdonghao , I would like to test out your pre-trained model. Giving out my email as follows.
ishmael1985@gmail.com

Thanks!

[2017-12-15 17:54] zsdonghao commented on #38
check this out https://github.com/zsdonghao/SRGAN/issues/32

[2017-12-15 17:54] #38 closed

[2017-12-16 03:45] JohnnieXDU commented on #7
@zsdonghao Could you please send me your trained model? 767175262@qq.com, Thanks

[2017-12-17 03:21] nuli0355 opened #39 "Why do not use low resolution images in training?"
First of all, thank you very much for your contribution.
I could not understand Why do not use low resolution images in training, but downsample the resolution of high resolution images?
I'm new. Thank you very much!

[2017-12-17 14:16] jcarra commented on #7
@zsdonghao I tried training the model myself but my GPU is not up to the task. Can I have the model too? This is my email: kuxumice@nada.email
Thank you, and great work!

[2017-12-18 01:36] zsdonghao commented on #7
check email.

[2017-12-18 08:13] yufanLIU opened #40 "How to input images with different sizes in the test stage?"

[2017-12-18 08:42] zsdonghao commented on #40
i have the same problem as well. @yufanLIU can it be solved if you update to the latest TL version?

[2017-12-18 08:45] zsdonghao commented on #39
Hi, the definition of super resolution is to make the image resolution higher.

Low resolution (e.g. float8) to high resolution (e.g. float32) reconstruction may belong to other task?

[2017-12-18 08:48] #39 closed

[2017-12-18 08:49] zsdonghao commented on #37
Hi @32nguyen , in you case, the simplest way is to remove VGG loss, but in my experience, it may produce checkerboard artifact.

If you want to use perceptual loss, you can do what you say above: ``pre-train a CNN first with your inputs (5 channels) until certain time, then use this CNN as a pre-trained model like in the paper.``

[2017-12-18 16:54] 32nguyen commented on #37
Great! Thank you.

[2017-12-18 16:54] #37 closed

[2017-12-19 09:38] echowjm opened #41 "If you could send me a model, that would be greatly appreciate! my email address is 549880890@qq.com Thanks!"

[2017-12-19 09:44] #41 closed

[2017-12-19 09:45] echowjm commented on #7
If you could send me a model, that would be greatly appreciate! my email address is 549880890@qq.com Thanks!

[2017-12-19 18:49] jcarra commented on #7
Thank you zsdonghao! I will still try to experiment and to modify the code to allow "multi-session" training too. (the word "checkpoint" made me think this was already working that way)

[2017-12-20 08:15] limchaos commented on #7
哇哇哇哇，求一发训练好的模型，好人一生平安嘿嘿，dingyf0101@163.com

[2017-12-21 11:07] NathanielNguyen11 commented on #7
Dear Mr Dong.
Thank for your public implementation very much
May you send me the trained model?  my email is : ngocquang870@gmail.com

[2017-12-21 23:03] lfang-salk commented on #7
Hi Dong,

I am currently training the posted model in my computer, while at the same time, would it be possible to test my images in your pre-trained one? My email address is lfang@salk.edu. Thank you in advance and happy holiday!

Lynn

[2017-12-22 00:22] lfang-salk commented on #28
Hey, how did you solve the issue in the end? I am running into exactly the same one. Thank you!!!

[2017-12-22 03:08] zhuguoguo123 commented on #40
这个是变量共享的问题，我笨笨的这样做了一下 可以正常运行了
if(epoch==0):
    netname= SRGAN_g2(t_image, is_train=False, reuse=False)
else:
    netname= SRGAN_g2(t_image, is_train=False, reuse=True)

这个链接可能会有用
http://zhangzhenyuan163.blog.163.com/blog/static/858193892017313102658544

[2017-12-22 03:43] shede1988 opened #42 "Please download vgg19.npz from : https://github.com/machrisaa/tensorflow-vgg"
[!] Load checkpoint/g_srgan.npz failed!
[!] Load checkpoint/g_srgan_init.npz failed!
[!] Load checkpoint/d_srgan.npz failed!
Please download vgg19.npz from : https://github.com/machrisaa/tensorflow-vgg

[2017-12-22 03:45] shede1988 commented on #42
But I already have vgg19.npy.
What is the difference between vgg19.npy and vgg19.npz

[2017-12-22 03:46] zsdonghao commented on #7
hi, please check the email~

[2017-12-22 03:48] zsdonghao commented on #42
hi it is npy, npz is a typo.

[2017-12-22 03:51] lfang-salk commented on #7
Thank you Hao!!

Lynn

Get Outlook for iOS<https://aka.ms/o0ukef>

On Thu, Dec 21, 2017 at 7:46 PM -0800, "Hao" <notifications@github.com<mailto:notifications@github.com>> wrote:

hi, please check the email~

-
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/zsdonghao/SRGAN/issues/7#issuecomment-353515665>, or mute the thread<https:/

[2017-12-22 03:53] shede1988 commented on #42
Thank you!

[2017-12-22 03:53] #42 closed

[2017-12-22 03:57] shede1988 commented on #42
How to solve the following error:
Load checkpoint/g_srgan.npz failed!

[2017-12-22 04:19] zsdonghao commented on #42
@shede1988 it is not an error, after you train the generator, you will have that npz.
then if you train it again, the code will load the previous model.

[2017-12-22 04:54] luckyboysmith commented on #28
@lfang-salk
sorry to reply so late
i'm too busy these days,,
i meet the problem because i set batchsize to 8, i change the batchsize to 4 and the problem solved.

[2017-12-22 06:14] shede1988 opened #43 "ValueError: zero-size array to reduction operation minimum which has no identity"
Traceback (most recent call last):
  File "main.py", line 316, in <module>
    train()
  File "main.py", line 141, in train
    print('sample HR sub-image:',sample_imgs_384.shape, sample_imgs_384.min(), sample_imgs_384.max())
  File "/usr/local/lib/python3.5/dist-packages/numpy/core/_methods.py", line 29, in _amin
    return umr_minimum(a, axis, None, out, keepdims)
ValueError: zero-size array to

[2017-12-22 17:20] lfang-salk commented on #28
Thank you! @luckyboysmith

My problem solved too. I ran into the same issue when I set the batchsize to 4 and at the same time modified main.py to fit my GPU's memory (remember there are options within the code saying we can switch to the one better fitting lower memory). When I changed the code back, the problem solved.

[2017-12-23 01:42] #43 closed

[2017-12-23 01:42] shede1988 opened #44 "ResourceExhaustedError (see above for traceback): OOM when allocating tensor with shape[16,64,96,96]"
ResourceExhaustedError (see above for traceback): OOM when allocating tensor with shape[16,64,96,96]

[2017-12-23 02:05] AMeancat opened #45 "Need help, I'm a newer"
errorTraceback (most recent call last):
  File "main.py", line 316, in <module>
    train()
  File "main.py", line 73, in train
    net_g = SRGAN_g(t_image, is_train=True, reuse=False)
  File "/home/zhangheng_li/SRGAN/model.py", line 42, in SRGAN_g
    n = SubpixelConv2d(n, scale=2, n_out_channel=None, act=tf.nn.relu, name='pixelshufflerx2/1')
  File "/home/zhangheng_li/SRGAN/tensorlayer/layers.py

[2017-12-23 12:33] yufanLIU commented on #40
@zsdonghao The "SubpixelConv2d"  layer in the latest TL version can solve this problem, but you need to do these things:
1. add codes in this layer:
`a = tf.shape(X)[1]
b = tf.shape(X)[2]`
(Handling Dimension(None) type for undefined height and width dim)
2. re-train this model. Because the PS transformation is different from that in old version.

[2017-12-23 12:49] zsdonghao commented on #40
@yufanLIU cool, thank you very much~

[2017-12-23 13:59] yufanLIU commented on #40
@zhuguoguo123 我这么改好像不行诶。  你测试的时候也是这么做的吗？

[2017-12-24 14:01] mrwen00 commented on #7
Hello there, Can you send me the trained model?
My email: mrwen00@gmail.com
Thank you very much.

[2017-12-25 12:03] freedom825 commented on #7
@zsdonghao , Could you please send me the trained model to gf_zhang@163.com? merry christmas!

[2017-12-26 03:50] tpys commented on #7
@zsdonghao I already start to train  with your code, But it seems to take a long time, Could you please send your trained model,  Thanks a lot.
My email: lchen80@163.com

[2017-12-26 05:37] zsdonghao commented on #7
**IMPORTANT**

**Hi all, this project is now become an example in this [book](http://www.broadview.com.cn/book/5059).**

**For the model, please download [32622.zip](http://www.broadview.com.cn/file/resource/046025086042215124052015222146047067012031094199) and find the `g_srgan.npz`.**

**Best wishes**

[2017-12-26 05:59] MikeXlYang opened #46 "Question about using my own dataset."
I only changed the (using the trained vgg19)
`config.config.TRAIN.hr_img_path``config.config.TRAIN.lr_img_path`
and validation path
and when I run main.py, it turned out like this
`  Loading fc8: (4096, 1000), (1000,)
Exception in thread threading_and_return:
Traceback (most recent call last):
  File "G:\anacondasetup\lib\threading.py", line 916, in _bootstrap_inner
    self.run()
  File "G:\anaco

[2017-12-26 06:36] MikeXlYang commented on #46
And I changed my dataset to 1920 1024 the same happened

[2017-12-26 07:02] MikeXlYang commented on #46
I found it was some error due to windows and the ide I was using and fixed it. THX anyway
BTW, if I want to use the model I trained and imply it to a new image, what should I do, and to which path is the trained model saved?

[2017-12-26 08:20] tpys commented on #7
@zsdonghao Thanks for great contribution and excellent book.

[2017-12-28 08:11] mrwen00 commented on #7
@zsdonghao Could you give me the link to download model "g_srgan.npz" I don't know where to download "下载资源 32622.zip" Thank you.

[2017-12-29 05:24] ratsuki commented on #7
can you give me the trained model,thank you!
my email : 651406101@qq.com

[2017-12-29 07:15] ratsuki opened #47 "where is 'easydict' and 'joblib' module"
Why I get the ModuleNotFoundError: No module named 'easydict',and I am not found this two module in program.

[2017-12-29 07:24] zsdonghao commented on #47
install it

[2017-12-29 07:25] zsdonghao commented on #7
@ratsuki check my above answer

[2017-12-30 08:09] ratsuki commented on #7
I download 32622.zip and only find the g_srgan.npz,but where is d_srgan.npz?

[2018-01-02 12:03] zhuyanshuo commented on #7
can you give me the trained model,thank you!
my email: 1240368588@qq.com

[2018-01-03 01:52] syan1992 opened #48 "A question about the weight of the loss"
g_gan_loss = 1e-3 * tl.cost.sigmoid_cross_entropy(logits_fake, tf.ones_like(logits_fake), name='g')
    mse_loss = tl.cost.mean_squared_error(net_g.outputs , t_target_image, is_mean=True)
    vgg_loss = 2e-6 * tl.cost.mean_squared_error(vgg_predict_emb.outputs, vgg_target_emb.outputs,
                                  is_mean=True)

Could you pls tell me the reason that why you set 1e-3 and 2e-6 a

[2018-01-04 08:14] ratsuki opened #49 "I download 32622.zip and only find the g_srgan.npz,but where is d_srgan.npz?"

[2018-01-05 10:06] go2sea opened #50 "Brightness difference between LR image and HR image"
Scaling images to [-1, 1] is executed in both crop_sub_imgs_fn and downsample_fn. It caused the input of downsample_fn is not in [0,255]. But the input of scipy.misc.imresize need to be in [0,255] when the mode is set None, and this caused the brightness difference between LR image and HR image.
Scaling HR image after downsample_fn fixed it in my experiment.

[2018-01-05 13:34] tuxzz opened #51 "Is there any pretrained model?"
I found this model is hard to train with my dataset on my machine.
Is there any pretrained model? Maybe a pretrained model can save my hard-working graphics card.

[2018-01-05 14:03] tuxzz commented on #3
My single GTX780 is hopelessly to reach the end. XD

[2018-01-08 08:59] zhanglijun95 opened #52 "issue when training -- wrong image name"
Exception in thread threading_and_return:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/usr/lib/python2.7/threading.py", line 754, in run
    self.__target(*self.__args, **self.__kwargs)
  File "/home/amiao/Documents/SR_raw_material/SRGAN-master/tensorlayer/prepro.py", line 89, in apply_fn
    results[i] = fn(dat

[2018-01-08 17:04] zsdonghao commented on #52
Hi, why there is a `._0393.png` ? I think it will run when after deleting it.

[2018-01-08 17:05] zsdonghao commented on #44
I think your GPU is not powerful enough?
reduce the batch_size may help

[2018-01-08 17:05] #44 closed

[2018-01-08 17:05] zsdonghao commented on #45
what is the TF and TL version are you using?

[2018-01-08 17:06] zsdonghao commented on #48
it is for balancing, you can find the answer on the paper.

[2018-01-09 02:26] AMeancat commented on #45
Really appreciate your reply firstly. I guess its 0.8.0,  our server just reloaded two weeks ago, and I just gave up that. I'll redo that in a few weeks, if any question, I'll request for help again.
REALLY THANKS :)

[2018-01-12 19:37] lfang-salk commented on #51
I trained it last week. Leave your email here and I can send you one copy. Alternatively, there is a thread down under this Issue tab, go and find it, the author keeps generously sharing his pre-trained code to everybody. Either way works.

[2018-01-13 04:28] tuxzz commented on #51
@lfang-salk Thanks for your sharing. I will find that issue.
My email: tuxzz<dorazzsoft@gmail.com>

[2018-01-15 06:28] weikaichenusc commented on #7
@zsdonghao could u send me the pretrained model? thank you! my email: chenwk891@gmail.com

[2018-01-15 19:13] haichaoyu opened #53 "How can it be guaranteed that Adam updates on condition that BatchNorm updates?"
Where: Line 107 - 110, main.py

To force BatchNorm layer to update, usually it is

    update_ops = tf.get_collection(tf.GraphKeys.UPDATE_OPS)
        with tf.control_dependencies(update_ops):
    # Ensures that we execute the update_ops before performing the train_op
    train_op = tf.train.GradientDescentOptimizer(0.01).minimize(loss)

How can it be guaranteed in your code?

Thanks!

[2018-01-15 21:29] #53 closed

[2018-01-16 03:27] automan000 commented on #7
@zsdonghao Hi, could you send me the pretrained model? Thank you so much. My email: zhuangzj15@mails.tsinghua.edu.cn

[2018-01-16 17:46] lfang-salk opened #54 "Several confusions about hyperparameters, image size and single-channel refactoring"
Thank you for your generosity to share the work first. I went through the code as well as the paper but still have several questions. It would be awesome to have your insights. Btw, I posted a question in Slack but didn't get any reply. Hope you have been back from your vacation!

1. I noticed there is no initialization for beta2 when initializing hyper-parameters of AdamOptimizer. Does that mean

[2018-01-17 11:50] Jillian2017 commented on #7
Your pretrained model is needed,  could you please send me? My email:zhoujing9204@163.com. Thanks a lot.

[2018-01-18 07:53] virata commented on #7
@zsdonghao Hi,
Can you give me the trained model?
Thank you for your work.
my email address : virata@naver.com

[2018-01-18 10:31] absaravanan commented on #51
@lfang-salk Hi, I am a computer vision enthusiast. I could not afford GPU's at the moment. Is it possible to share a pre-trained model with me ? Thanks

[2018-01-18 14:54] normalworld commented on #36
it can't converge without doing it？confused about it,many papers about SR did not preprocess the data.

[2018-01-19 11:42] zsdonghao commented on #7
**IMPORTANT ==================================**

**Hi all,**

**This project is now become an example of this [book](http://www.broadview.com.cn/book/5059).**

**For the model, please download [下载资源 32622.zip](http://www.broadview.com.cn/book/5059) and find the `g_srgan.npz`.**

**Best wishes**

**Hao**

**IMPORTANT ==================================**

**Hi all,**

**This project is now become a

[2018-01-19 12:12] Leeson111 commented on #7
May I add one more? Could you please send me your trained model? Email: 1450975631@qq.com. Thank you.

[2018-01-19 12:20] zsdonghao commented on #7
@Leeson111 Could you please download it yourself?? 你能不能自己点进去下载呢？谢谢！

[2018-01-19 12:36] Leeson111 commented on #7
哥哥，我下载速度只有几K

[2018-01-19 12:38] zsdonghao commented on #7
@Leeson111 as your internet is poor, I can't help, sorry about that..

[2018-01-19 12:38] Leeson111 commented on #7
谢谢好心的哥哥

[2018-01-19 12:42] Leeson111 commented on #7
I am very very very sad ,blue ,sarrow.

[2018-01-21 07:46] xuchenbupt opened #55 "how to download g_srgan.npz,g_srgan_init.npz and d_srgan.npz files?"
HI,when i ran this project,i got a problem like ：
[!] Load checkpoint/g_srgan.npz failed!
[!] Load checkpoint/g_srgan_init.npz failed!
[!] Load checkpoint/d_srgan.npz failed!
Please download vgg19.npz from : https://github.com/machrisaa/tensorflow-vgg

but i can find vgg19.npz file in the website,how can i get these files?@zsdonghao
thank you!

[2018-01-22 10:12] zsdonghao commented on #55
vgg https://github.com/machrisaa/tensorflow-vgg
g_srgan https://github.com/tensorlayer/srgan/issues/7

[2018-01-22 10:12] #55 closed

[2018-01-23 02:59] foreverseer commented on #7
i run it and its said that my CPU is not support, how to work it out?
the other question how to use GPU to accelerate , if i use CPU i will take 1 month
thanks a lot to author

[2018-01-23 07:01] #13 closed

[2018-01-23 13:24] normalworld commented on #48
[g_loss = mse_loss + vgg_loss + g_gan_loss](https://github.com/tensorlayer/srgan/blob/8ec76b6d368facb596b9b70782761ca607b652a7/main.py#L99)
Sorry for bothering.I did not mention the author combine the mse_loss and vgg_loss,it will have a better performance?

[2018-01-24 07:17] yaoqinjuan opened #56 "Issue about training"
I have a problem that the project will often stop while training,and I do not know how to solve it.And I have to supervise it while training.
Could you help me solve the issue?
Thank you very much!

[2018-01-25 05:45] Leeson111 commented on #51
@lfang-salk could you send me a pretrained code that you have run, please? My email is 1450975631@qq.com.THANKS a lot.

[2018-01-29 06:18] Leeson111 opened #57 "I am a newbie,I got some erros,could you help me solve it ,Please?"
Firstly, when I try to train the model,I got ResourceExhaustedError as following:
ResourceExhaustedError (see above for traceback): OOM when allocating tensor with shape[25088,4096]
	 [[Node: VGG19/fc6/W/Assign = Assign[T=DT_FLOAT, _class=["loc:@VGG19/fc6/W"], use_locking=true, validate_shape=true, _device="/job:localhost/replica:0/task:0/device:GPU:0"](VGG19/fc6/W, VGG19/fc6/W/Initializer/truncat

[2018-02-02 08:41] yayeoCddy opened #58 "issues about vgg54 loss location in network"
hi, after reading your codes about the location of vgg54 loss, the location like this
![image](https://user-images.githubusercontent.com/16780698/35723924-f07f847e-0836-11e8-9f80-2802d52fd488.png)

but after reading others'  implementation and read the SRGAN papers for several times, the location like this
![image](https://user-images.githubusercontent.com/16780698/35724075-7ceee846-0837-11e8-8c54

[2018-02-02 14:17] zsdonghao commented on #58
Hi, actually, it doesn't matter, deeper network will have higher level feature extraction.
and VGG19 is better than VGG16.

[2018-02-03 02:30] yayeoCddy commented on #58
yes I know. but I feel uncertain about the location. I mean you put the vgg54loss  after "conv4" before "conv5" in your codes, but someone put it after "vgg_conv5_4" before the last maxpooling(vgg_maxpool5). According to the paper, I think the second location is  right.

[2018-02-04 08:42] gentleboy opened #59 "如何采用WGAN-GP来重新实现SRGAN?"
您好，我现在想在这份源代码的基础上用WGAN-GP来重新实现SRGAN，请问是否可行？如果可行的话，请问需要修改哪些地方？

目前我的想法是：
1、将生成器和判别器的损失函数改为WGAN-GP中的形式，采用WGAN-GP论文中的超参数，lambda = 10 , Adam(beta1=0.5, beta2=0.9)。
2、将判别器网络中的BatchNormLayer换成LayerNormLayer，去掉判别器最后的sigmoid激活函数。

我尝试做了以上修改，并且g_gan_loss、 mse_loss和vgg_loss的权重没有改动。我训练了几百个epochs，发现效果并不好，判别器的损失变成了负值。我感觉我的做法可能是错误的，或者是某些超参数没有设置好。非常希望能得到您的指导，谢谢！

[2018-02-07 07:02] limchaos commented on #59
。。。。你先把文章看懂了再做吧，这都啥～

[2018-02-09 20:28] relh commented on #25
if you have `.jpg` images you will get this error because main.py looks for `*.png`

[2018-02-17 10:40] SmezMorePrakezz commented on #50
@go2sea How you fix the brightness different, can you tell me? :-) Which part of the code I have to edit?

[2018-02-21 03:20] varunrao1991 commented on #7
Could you please send me the trained model? [varunrao.rao@gmail.com](url)

[2018-02-22 04:45] Jean332 opened #60 "issues when read imgs and finally it shows killed"
Hi,thank you for sharing this project! I'm excited and I wanna train it at once.When I reading the imgs,most of the imgs readed normally,but some imgs have problem like this:
……
read 384 from NTIRE_2017/DIV2K_train_HR/
read 416 from NTIRE_2017/DIV2K_train_HR/
read 448 from NTIRE_2017/DIV2K_train_HR/
Exception in thread threading_and_return:
Traceback (most recent call last):
  File "/usr/lib/pytho

[2018-02-22 07:11] Jean332 commented on #60
Then I change to use Python 2.7,Tensorflow 1.2,tensorlayer-1.7.4, but it didn't help.
Can someone tell me what's the matter?Thank you very much!

[2018-02-22 08:05] AldoMarzullo commented on #7
Hi, could someone please send me the trained model? emme.aldo24@yahoo.it
Thanks for your help!

[2018-02-23 06:23] Jean332 commented on #60
I solved it.Maybe it's because I use the google drive,it's somewhat instable,so I shrinked the number of "n_threads" to 8,it's work! Now it's training,haha~
And I wanna know how "n_threads" impact the effect?

[2018-02-25 08:03] Jean332 opened #61 "The result of jpg is poor"
If I convert the DIV2K‘s form into jpg, will it help? and how should I modified the code?
If it doesn't work well in the image which is original LR, not being lossless compression from a HR image,In this case I think its application value is much lower.

[2018-02-25 15:30] Jean332 commented on #61
Yes,there is.And it discussed the problem of jpg,but not tell about how to improve it.I really wanna find it out.

[2018-02-27 06:32] zzw1123 commented on #42
@zsdonghao I wanna know what is the difference between .npy and .npz files?

[2018-02-28 09:26] InderpreetSinghChhabra01 commented on #43
Hii,

I am also getting the same error can you please let me know how you have solved it.

[2018-02-28 10:40] InderpreetSinghChhabra01 opened #62 "ValueError: zero-size array to reduction operation minimum which has no identity"
Traceback (most recent call last):
File "main.py", line 316, in
train()
File "main.py", line 141, in train
print('sample HR sub-image:',sample_imgs_384.shape, sample_imgs_384.min(), sample_imgs_384.max())
File "/usr/local/lib/python3.5/dist-packages/numpy/core/_methods.py", line 29, in _amin
return umr_minimum(a, axis, None, out, keepdims)
ValueError: zero-size array to reduction operation minimum

[2018-02-28 16:27] InderpreetSinghChhabra01 commented on #7
Can you please send me the trained model, since I can't read Chinese I am unable to type verification code on the website you mentioned. chhabra.2@iitj.ac.in

[2018-03-01 18:02] #8 closed

[2018-03-02 14:01] ontheway16 opened #63 "dataset link failed"
Hello, I cannot download the following file, do anyone know an alternative location?

https://data.vision.ee.ethz.ch/cvl/DIV2K/validation_release/DIV2K_test_LR_bicubic_X4.zip

[2018-03-02 14:16] zsdonghao commented on #63
try this: https://data.vision.ee.ethz.ch/cvl/DIV2K/

[2018-03-02 15:38] ontheway16 opened #64 "testing an image"
Ok this is a simple question I'm aware, but could not find how apply sr to a test image..?

in main.py it says put test.png into root srgan folder and I did, but do not know which commands are required to apply sr to this image..

[2018-03-02 15:38] #63 closed

[2018-03-02 21:16] artificialskills opened #65 "8x upsampling possible?"
Hi, I'd like to train the network on a, 8x down-sampled input/full resolution reference, data set. Is this possible? What modifications are necessary. Thanks a lot.

[2018-03-03 03:02] suke27 commented on #61
I also found same problem, but currently no good way to resolve it

[2018-03-03 10:52] zsdonghao commented on #65
modify the model and data

[2018-03-03 15:39] artificialskills commented on #65
Can you please be more specific?

[2018-03-03 17:59] zsdonghao commented on #65
for model, add two more sub-pixel convolutional layers. for data, down-sampled the images by 8

[2018-03-03 18:12] artificialskills commented on #65
Ok thanks a lot, so after I add those layers, do I need to add any other
plumbing, do I need to change some globals somewhere do use 8 instead of 4?

On Sat, Mar 3, 2018 at 9:59 AM, Hao <notifications@github.com> wrote:

[2018-03-03 19:45] #64 closed

[2018-03-06 10:34] #59 closed

[2018-03-08 08:06] wang-tf opened #66 "How to use tensorboard?"
It's better to have a tensorboard to see the change of loss. But I don't know how to open or include this function. And I also hope we can have a function of PSNR.

[2018-03-08 15:01] burgetrm opened #67 "Poor results after training"
I have executed
`python main.py --mode srgan`
and got results in
- train_10.png
- train_20.png
...
- train_100.png
Images there seems relatively OK:
![train_50](https://user-images.githubusercontent.com/30438626/37157708-cba5b72c-22e9-11e8-9e38-63f5cf5f0dd1.png)

Than executed:
`python main.py --mode evaluate`
and got valid_gen.png file:
![valid_gen](https://user-images.githubusercontent.com/30438

[2018-03-08 15:11] zsdonghao commented on #67
please make sure your model is for the TL version you are using

update the model and model here: https://github.com/tensorlayer/srgan/releases

[2018-03-09 06:19] Wisgon opened #68 "TypeError: 'str' object is not callable"
when I run : python main.py --mode=evaluate
I got this:
Traceback (most recent call last):
  File "main.py", line 310, in <module>
    evaluate()
  File "main.py", line 275, in evaluate
    net_g = SRGAN_g(t_image, is_train=False, reuse=False)
  File "/home/jhd/face_recognition/softwares/srgan_tensor/model.py", line 35, in SRGAN_g
    nn = ElementwiseLayer([n, nn], tf.add, 'b_residual_add/%s' % i)

[2018-03-09 06:19] #68 closed

[2018-03-09 11:28] limchaos commented on #57
Smaller size images or better GPU

[2018-03-09 15:55] ontheway16 commented on #11
Is Slack channel still active? it says **"Something's amiss with your invitation........"**

[2018-03-09 16:27] zsdonghao commented on #11
the latest invitation link is in [gitter](https://gitter.im/tensorlayer/Lobby#?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge)

[2018-03-09 18:24] ontheway16 opened #69 "Custom dataset preparation"
Hello, I am wondering what points we should care of, in custom dataset preparation. Whats in my mind is like:

1. Resolution of HR image set. Are there any restrictions in size; or things to change in the code for larger images?
2. Image aspect ratio
3. Recommended minimum number of images
Or any other points... Thank you.

[2018-03-10 23:04] #30 closed

[2018-03-12 14:26] wagamamaz commented on #69
1. The demo code use image with width and heigh around 1200~2000, and crop sub-image with 384x384.
2. No limit.
3. 1000 images should be good.

[2018-03-12 14:26] wagamamaz commented on #67
My result is good, that should be something wrong with the library version or other

[2018-03-12 14:28] wagamamaz commented on #61
It is possible to use `tl.vis.read_images` and `tl.vis.save_images` to convert all JPG into PNG?

[2018-03-12 14:29] wagamamaz commented on #60
memory is not enough

[2018-03-12 14:29] wagamamaz commented on #58
According to my experiment, it doesn't matter a lot

[2018-03-12 14:31] wagamamaz commented on #34
please make sure other TensorFlow code can run on GPU then ..

[2018-03-12 14:31] wagamamaz commented on #48
yes, it will have better performance

[2018-03-12 14:57] ontheway16 commented on #69
@wagamamaz Thank you for the info. For 1st question, is this means we cannot use anything larger then 2000px? If this is the case, whats needed to alter this to something larger? (or restricted by GPU memory maybe?) Sorry I am not into this (yet), so my questions may sound primitive for the moment.

[2018-03-12 15:06] wagamamaz commented on #69
@ontheway16 For 1st question, you can use larger image but don't be too large, because but the current model is designed for the demo dataset.

If you want larger image, 1) change the model 2) crop larger sub-image 3) larger GPU memory

[2018-03-12 17:06] ontheway16 commented on #69
Thank you very much, I will investigate.

[2018-03-15 12:09] burgetrm commented on #67
Resolved, problem was with read priviledges to resulting model.

[2018-03-17 04:02] tangyudi commented on #51
@lfang-salk  Could you send me a pretrained model that you have run, please? My email is 474241623@qq.com.THANKS a lot.

[2018-03-17 04:11] tangyudi commented on #7
@zsdonghao Hi,thank you for sharing.My email is 474241623@qq.com.

[2018-03-17 13:58] #7 closed

[2018-03-17 13:58] zsdonghao commented on #51
model in readme

[2018-03-17 13:58] #51 closed

[2018-03-18 12:03] SivanDoveh opened #70 "psnr and ssim on set5 or 14"
hi did you check if your code is getting the same psnr as the original paper?

[2018-03-19 01:25] arisliang opened #71 "Add script to download DIV2K dataset"
I couldn't find any download script for DIV2K dataset at the moment. Is it manual download at the moment? If possible, a download script would save a lot of time.

[2018-03-19 01:27] arisliang opened #72 "test_LR_bicubic_X4 link (on README) access forbidden"
The other data links on README is ok.

[2018-03-20 15:47] arisliang opened #73 "Resource exhausted: OOM when allocating tensor"
It seems GPU RAM exhausted when tensorflow trying to load all training data. How much RAM does it need to load all training data. I'm on 6GB card.

[2018-03-20 15:48] zsdonghao commented on #73
try reduce the batch size

[2018-03-20 15:48] arisliang commented on #73
batch size 16 that batch size?

[2018-03-20 15:49] zsdonghao commented on #73
yeah, try batch size of 8?

[2018-03-20 15:53] arisliang commented on #73
i think ni doesn't like to be sqrt of 8.

`
Traceback (most recent call last):
  File "/home/ly/src/tl-play/ch13/ch13_srgan.py", line 104, in <module>
    tl.vis.save_images(sample_imgs_96, [ni, ni], save_dir_ginit+'/_train_sample_96.png')
  File "/home/ly/anaconda3/envs/learning/lib/python3.6/site-packages/tensorlayer/visualize.py", line 134, in save_images
    assert len(images) <= size[0] * siz

[2018-03-20 15:55] arisliang commented on #73
4 works, but i think it's too much of a toy number.

[2018-03-20 15:57] zsdonghao commented on #73
you can modify the `tl.vis.save_images` to `tl.vis.save_images(images, [2, 4])` for batch size of 8.

[2018-03-20 16:01] arisliang commented on #73
yes, batch size of 8 works with the above change.

[2018-03-20 16:01] #73 closed

[2018-03-20 16:05] arisliang commented on #68
Create a PR might be an idea.

[2018-03-20 16:07] arisliang commented on #72
Same as #63. May consider remove this test_LR_bicubic_X4 link.

[2018-03-21 01:35] arisliang commented on #73
turned out, batch size 8 is ok for initial training, but still too big for subsequent adversarial training. Reduced to 6 to see (need to change batch size in placeholder declaration to None, because of 800 images for batch size 6, the last batch would be 2 images)

[2018-03-22 00:59] arisliang opened #74 "Possibility to train d and g on different GPU?"
Just curious, can we split the discriminator and generator on different device to speed up the training?

[2018-03-22 01:51] chensongkui commented on #74
of course no,because the discriminator need the output of the generator.

[2018-03-22 09:45] perdigas91 commented on #65
@artificialskills did you managed to make it work?

[2018-03-22 11:26] zsdonghao commented on #74
you can try `with tf.device("gpu0/1")" for G and D to see whether it works or not.

[2018-03-22 14:49] artificialskills commented on #65
@perdigas91 I didn't try yet, but I'm going to see if I can swing back around and work on it soon, let you know.

[2018-03-22 15:13] arisliang commented on #74
@chensongkui Even one needs the output of the other, it's still possible to split the work and speed up. Say D depends on G's output. G starts to work on batch 1 and D idle, after G finish, D starts to work on batch 1, in the meantime, G can start to work on batch 2. So G works 1 batch lead of D, because of the output dependency. But possible for the two to work in parallel.

@zsdonghao I don't ha

[2018-03-22 21:30] rahat-yasir commented on #69
What is the logic behind cropping the image by 384x384 ?
I want to train the network with 3840x2160 px images, what should be the ideal size of my cropped sub-image?

[2018-03-22 21:47] zsdonghao commented on #69
i think 384x384 should be fine for 3840x2160

[2018-03-23 00:52] whyccny opened #75 "Customer dataset"
Hi, do you have any idea if my training dataset size is a little bit small, like the resolution of images are around 40*150*3. what parameters should I change to do the training process?

[2018-03-25 02:13] #74 closed

[2018-03-27 06:07] shede1988 opened #76 "NameError: name 'time' is not defined"
NameError: name 'time' is not defined

[2018-03-27 06:10] shede1988 commented on #76
start_time = time.time()
这一行报错，要怎么改呢？

[2018-03-27 06:24] shede1988 commented on #76
import time 就好了

[2018-03-27 06:24] #76 closed

[2018-03-27 07:30] shede1988 opened #77 "已放弃 (核心已转储)"
2018-03-27 15:29:16.782566: E tensorflow/stream_executor/cuda/cuda_dnn.cc:352] Loaded runtime CuDNN library: 5005 (compatibility version 5000) but source was compiled with 5110 (compatibility version 5100).  If using a binary install, upgrade your CuDNN library to match.  If building from sources, make sure the library loaded at runtime matches a compatible version specified during compile configu

[2018-03-27 09:20] #77 closed

[2018-04-02 00:52] Elegantice opened #78 "Load checkpoint/d_srgan.npz failed!"
i canot find the d_srgan.npz.please help me.thx

[2018-04-02 12:21] Elegantice opened #79 "NameError: name 'os' is not defined"
NameError: name 'os' is not defined.the os has been imported.but still have the problem.

[2018-04-02 13:02] #79 closed

[2018-04-02 13:03] #78 closed

[2018-04-03 08:54] Aventador118 commented on #70
I get the almost psnr and ssim between gen and bicubic.

[2018-04-03 08:54] haolimin118 opened #80 "The result of evaluation."
If I use your given images to evaluate, the result is great.But I get poor result if I use bsd100,bsd200,set5 or set14. In addition,I get the almost psnr and ssim between gen and bicubic.

[2018-04-09 11:08] NYing commented on #25
I have the same problem.I read the data successfully,but get wrong after "sample_imgs_96 = tl.prepro.threading_data(sample_imgs_384, fn=downsample_fn)",the list sample_imgs_96 is none.I met with such issues:
File "main.py", line 140, in train
    print('sample LR sub-image:', sample_imgs_96.shape, sample_imgs_96.min(), sample_imgs_96.max())
  File "/home/NieYing/anaconda3/lib/python3.6/site-packag

[2018-04-10 10:14] jiangshashen opened #81 "Load Error"
when I do experiment, come out a error as follow:
[TL] [!] Load checkpoint/g_srgan.npz failed!
[TL] [!] Load checkpoint/g_srgan_init.npz failed!
[TL] [!] Load checkpoint/d_srgan.npz failed!

I find check_point is empty

[2018-04-11 06:52] whiteeat opened #82 "How to redirect print to a file?"
Normally, if in cmd, I say python main.py --mode=srgan >temp.txt, I should redirect print to temp.txt file. However, when I did this using srgan code, it doesn't take any effect. So probably it is caused by tensorlayer? I've study the code a little bit but haven't get any clues yet. Do you know the reason probably why this happens?

[2018-04-11 16:24] ontheway16 opened #83 "How just enhance an image, without increasing the resolution?"
Hello,
Is there a way to modify this code to produce just an enhanced image, without increasing the actual resolution? There may be cases where the input image have good enough resolution to contain necessary details, but image quality is somehow detoriated. In this case, just image restoration is needed, instead of higher resolution.
Any ideas?

[2018-04-12 03:01] Zzzzy411 commented on #21
You could ignore the processing object.The function "downsample_fn" processing object is the variable named" b_imgs_384 ".So the corresponding training image region is same.

[2018-04-13 02:46] whiteeat commented on #82
Just a stream flush problem.

[2018-04-13 02:46] #82 closed

[2018-04-13 03:07] JermySing commented on #62
I encounter the same trouble. Have you solved this? Can you give me some suggestion?

[2018-04-18 16:58] andreas128 opened #84 "OOM with 11GB of ram"
How large does my GPU have to be to run the SRGAN?

[2018-04-18 17:05] zsdonghao commented on #84
1080 should be enough

Sent from Netease Mail
On 04/18/2018 17:58, andreas wrote:

How large does my GPU have to be to run the SRGAN?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-04-21 02:11] splinter22 commented on #18
Will some preprocess be helpful? For example, make the LR(input) of dataset more jpeg artifacts for training，and the model will learn to reduce these blocking artifacts?

[2018-04-21 02:26] suke27 commented on #18
anyone has resolved this issue, I also try many method, not work

[2018-04-24 01:59] ontheway16 commented on #18
@suke27 The only option I can think of is preprocessing the jpegs to clean jpeg artifacts. I remember some software exist for this job. I am pretty sure the block artifacts are primary target to remove for such software.

[2018-04-24 16:54] Zzzzy411 opened #85 "Some questions about using the medical grayscale dataset"
Hi,I use the SRGAN to enhance the resolution of the grayscale medical images.But I got the blurry results.There are some questions about it.
1.The dimensions of the training HR images are 394*394.So I don't use the crop_sub_imgs_fn to crop the original HR images.Does it matter?Is the dimension of the training image too small?
2.I didn't use the vgg loss because the vgg pre-trained model require th

[2018-04-24 17:06] zsdonghao commented on #85
Hi, for medical data, I highly suggest this repo, https://github.com/nebulaV/DAGAN

It is the implementation of "DAGAN: Deep De-Aliasing Generative Adversarial Networks for Fast Compressed Sensing MRI Reconstruction", which just accepted by TMI.

[2018-04-25 19:43] jimlynnjulian commented on #49
My most recent crash with TF 1.5.1, TL 1.8 and SRGAN on Windows 10 Pro:
(I'm using a 2008 Dell laptop. That's why I'm not using the most recent version of TF.)
[TL] [*] Load checkpoint/g_srgan.npz SUCCESS!
[TL] [!] Load checkpoint/d_srgan.npz failed!
Traceback (most recent call last):
  File "main.py", line 309, in <module>
  File "main.py", line 113, in train
    ###========================= LOAD

[2018-04-25 20:00] jimlynnjulian opened #86 "DIV2K test LR "Forbidden""
The file:
https://data.vision.ee.ethz.ch/cvl/DIV2K/validation_release/DIV2K_test_LR_bicubic_X4.zip
is locked up.
I tried downloading the next file on the list and had no problem. The test file seems to be the only one, but I have not tested them all. I got the others from NITRE.

[2018-04-26 12:54] jimlynnjulian commented on #7
Hello,
   SRGAN crashes when d_srgan.npz is not found. I've looked at all the locations pointed to by the links but only g_srgan is avalable. Can d_srgan be built? My email is
 jimlynnjulian2@yahoo.com
I'm using release 1.2.1 with the g_srgan.npz from release 1.2.0.
Thank you.

[2018-04-26 13:04] jimlynnjulian commented on #49
Hello,

   How do I remove the referenc to d_srgan.npz? I have been thinking the missing d_srgan.npz was causing the crash. Am I correct in assuming the crash and the missing d_srgan.npz are not related?

   The 'import os' statement is at the top of the file. I moved the statement down several lines from line 4 to line 14 with no effect.

   Thank you.

[2018-04-26 13:13] zsdonghao commented on #49
`d_srgan.npz` only effect for training, not inference, it should be fine.

[2018-04-28 07:31] pustar commented on #81
use .png picture not others

[2018-04-28 18:01] zsdonghao commented on #81
yes, it is missing, that is why you need to train one ..

[2018-05-08 10:47] zsdonghao commented on #7
please dont ask me for model, it is in readme!

[2018-05-08 14:55] cianohagan commented on #48
The paper states that the VGG feature maps were rescaled by 1/12.75 which is equivalent to multiplying by approx 0.006. The value in the code is 2e-6 or 0.000002. Is there a reason for this?

[2018-05-09 07:39] hehedawang opened #87 "Exception: Layer 'SRGAN_g/in' already exists, please choice other 'name' or reuse this layer"
I want to evaluate a dataset ,so I add a for function to output images. There's an error!
 Exception: Layer 'SRGAN_g/in' already exists, please choice other 'name' or reuse this layer
and if I change the reuse=True, I got another error:
  File "/home/chen/anaconda3/envs/tensorflow_deeplab/lib/python2.7/site-packages/tensorflow/python/ops/variable_scope.py", line 765, in _get_single_variable
    "r

[2018-05-10 08:01] scutdyk opened #88 "Need d_srgan.npz"
I can not find d_srgan.npz, who have it?
Please send a copy to me, thanks.
My email is dai957740699@yahoo.com.

[2018-05-14 09:32] jiangshashen opened #89 "Train Error"
When i use my dataset,imgae sizei is (256,256).
AssertionError: The size of cropping should smaller than the original image
Why? How can i change parameter to solve this problem?

[2018-05-14 11:27] sdlpkxd opened #90 "Errors when test the sky scenes"
Thanks for the code and pre-trained model firstly. But I enter errors when I test images with sky scenes. It seems that there are some "dark areas" in the sky. Does anyone know how to solve this problem?
![Original]https://github.com/sdlpkxd/Images/blob/master/0028x4.png
![Gan generated]https://github.com/sdlpkxd/Images/blob/master/valid_gen_2k_27.png
![Original]https://github.com/sdlpkxd/Images/b

[2018-05-14 12:25] zsdonghao commented on #89
it is too small, we can't crop 384x384 subimages from 256x256 images.

You should use image with size around 1000 to 2000

[2018-05-15 03:48] jiangshashen commented on #89
Can we reduce the size of (384x384)?

[2018-05-21 21:21] zsdonghao commented on #83
Hi, you can delete the last subpixel convolution, then the output size is the same with the input size.

[2018-05-21 21:30] ontheway16 commented on #83
This one?

n = SubpixelConv2d(n, scale=2, n_out_channel=None, act=tf.nn.relu, name='pixelshufflerx2/2')

[2018-05-21 22:55] zsdonghao commented on #83
yeap

[2018-05-21 22:55] zsdonghao commented on #83
I suggest you to read the paper before using this code ~

[2018-05-25 09:32] PeeJay commented on #84
I have the same problem. The first part of the training succeeds, the second part can't allocate enough memory. On Linux it will keep training regardless, but on windows it stops with an error.
This was using a 1080ti with 11gb ram

[2018-05-31 10:17] DTennant commented on #18
There is a ICCV2017 paper Deep Generative Adversarial Compression Artifact Removal(https://arxiv.org/abs/1704.02518) dealing with the JPEG compression artifact removal

[2018-05-31 15:07] JustinhoCHN commented on #18
@DTennant Thanks a lot! I'll check this out and see what we can do.

[2018-06-04 02:41] CasdDesnDR commented on #18
@JustinhoCHN  Hello sir, I am new in super resolution and interested in it. In my opinion, the main function of super resolution is to super resolve the size of image, while maintaining the image quality, such as visual perception. However, in the picture you show,  the LR and generated image have the same size (height and width) . In your shown image, I wonder if you super resolve the LR image  i

[2018-06-04 03:09] JustinhoCHN commented on #18
@CasdDesnDR Yes you are right, in comparison, you have to resize the LR image to the HR size, using bicubic or other methods. Because you can't distinguish the LR and HR image in their original size in human visual perception, and that's the purpose of super-resolution algorithm: if the bicubic method is good, why we still spend our time to find another algorithm?

[2018-06-04 12:14] sdlpkxd commented on #81
@zsdonghao So, we need to comment the parameter loading lines in the main.py file?

[2018-06-04 12:30] zsdonghao commented on #81
you don't need to remove it, it can only work when you have a pre-trained model.

[2018-06-06 07:58] hiredd commented on #79
find the same problem//     how  you resolved it？

[2018-06-10 09:13] Hunterwolf88 opened #91 ""'time' is not defined" error while training"
NameError: name 'time' is not defined

same as #76 but I can't find a solution...

[2018-06-10 18:15] Hunterwolf88 commented on #91
added `import time` to model.py
thanks

[2018-06-10 18:15] #91 closed

[2018-06-12 01:41] hiredd commented on #50
”Brightness difference between LR image and HR image“

same problem？  how to resolve it？  thanks @go2sea

[2018-06-12 15:46] rahat-yasir commented on #65
Do we need to have different pretrained model for different scale ? like 2x,3x,4x? or, 1 pre-trained model works with other scales ?

[2018-06-13 09:06] sdlpkxd commented on #81
Got it, thanks

[2018-06-13 20:16] rahat-yasir commented on #83
After removing SubpixelConv2d, this error is showing,
    found_var.get_shape()))
ValueError: Trying to share variable SRGAN_d/ho/dense/W, but specified shape (4608, 1) and found shape (18432, 1).
Do I need to remove anything from discriminator as well ?

[2018-06-14 08:54] sdlpkxd commented on #50
This bug is hard to find， thank you.

[2018-06-14 09:29] sdlpkxd commented on #36
I think this option may be excess, because there are batch normalization layers in this model.

[2018-06-14 15:31] zsdonghao commented on #36
it is simple rescale if you use tanh as the output

[2018-06-15 02:53] njzhaixiang opened #92 "Value error in train: zero-size array to reduction operation minimum which has no identity"
Traceback (most recent call last):
  File "main.py", line 310, in <module>
    train()
  File "main.py", line 135, in train
    print('sample HR sub-image:', sample_imgs_384.shape, sample_imgs_384.min(), sample_imgs_384.max())
  File "/home/chai/.local/lib/python2.7/site-packages/numpy/core/_methods.py", line 29, in _amin
    return umr_minimum(a, axis, None, out, keepdims)
ValueError: zero-size a

[2018-06-19 13:42] Alxemade opened #93 "Why do we use SRGAN_d instead of SRGAN_d2 in the function of main.py"
Hello,
     when I read your code, I have some questions about the code.  why you use SRGAN_d instead of [SRGAN_d2](https://github.com/tensorlayer/dcgan/blob/master/model.py) in the function of [main.py ](https://github.com/tensorlayer/dcgan/blob/master/main.py) 。 The code for this discriminator also appears in your other code  [DAGAN](https://github.com/nebulaV/DAGAN/blob/master/model.py), Why ca

[2018-06-19 13:47] zsdonghao commented on #93
for smaller network size

[2018-06-19 13:59] Alxemade commented on #93
@zsdonghao , Thank you for your reply!

[2018-06-26 01:58] Heermosi commented on #88
Me too!
May you put a copy of d_srgan.npz on the website?
If you can't, can you just tell me how long does it take to train a fresh new model with a single 1080Ti?

[2018-06-26 02:35] hahazhky opened #94 "A question about image save"
Hello
I noticed the hr images is in [-1, 1], so generated images are approximately in this range, why it can be save as image directly, is it scale to [0, 255]? why it is not clipped to [0, 1] then convert to [0, 255]
And your generated result are all in [-1, 1]? my results is almost in [0, 1.xx], does it have any bad effects on extracting vgg features from them?
Thanks a lot

[2018-06-26 09:38] zsdonghao commented on #94
The save image API automatically deal with the scale for you, so it can be saved in any scale

[2018-06-26 13:22] zsdonghao commented on #88
that model is 200mb, too large to share.

actually, you don't need that, if you really want it, you can load the `g_srgan.npz` and train it for several epochs.

[2018-06-27 06:01] hahazhky opened #95 "Is vgg19 params is trainable in this model?"
vgg_loss is part of g_loss, when params updates, are vgg19 params updated too?
I think vgg19 params should stay unchanged during training ,but i don't any settings about this

[2018-06-27 06:02] #94 closed

[2018-06-27 06:14] #95 closed

[2018-06-27 10:03] SmezMorePrakezz opened #96 "Problem with brightness difference on each picture."
I use SRGAN to enhance pictures, but my machine's memory is too low to process picture as a whole, so **I have to chop picture to a little pieces** (about 200x200 pixels). The problem is, when I use my software to stitch it back, I notice that **each pieces have different brightness**, as you can see in the picture here.

![rendered](https://user-images.githubusercontent.com/34295880/41967058-ebc7

[2018-06-27 17:16] wqGitHub2018 commented on #96
hi,
Thank you for your question. I attached someone's comments about brightness here,
------
Thanks a lot for the impressed work !
And this condition happens in my experiment:
Scaling images to [-1, 1] is executed in both crop_sub_imgs_fn and downsample_fn. It caused the input of downsample_fn is not in [0,255]. But the input of scipy.misc.imresize need to be in [0,255] when the mode is set None,

[2018-06-28 04:31] wqGitHub2018 commented on #96
@SmezMorePrakezz
I found one of the reasons caused different brightness, that is [tensorlayer.vis.save_image()] ( http://tensorlayer.readthedocs.io/en/latest/_modules/tensorlayer/visualize.html#save_image ) .  This function  changes the range of images to [0, 255] even though the range of inputs is not in [0, 255].
I hope it is helpful.

[2018-07-02 06:52] XiaotianM commented on #48
hello, but the regularization loss is not include in this code ?

[2018-07-02 07:56] XiaotianM opened #97 "the activation in your generate model"
in your function:  **SRGAN_g**
the code:
    with tf.variable_scope("SRGAN_g", reuse=reuse) as vs:
        # tl.layers.set_name_reuse(reuse) # remove for TL 1.8.0+
        n = InputLayer(t_image, name='in')
        n = Conv2d(n, 64, (3, 3), (1, 1), act=tf.nn.relu, padding='SAME', W_init=w_init, name='n64s1/c')
        temp = n

        # B residual blocks
        for i in range(16):
            nn

[2018-07-02 08:18] XiaotianM commented on #97
sorry, my mistake

[2018-07-02 08:18] #97 closed

[2018-07-02 10:58] Rabia-Raja opened #98 "Hi, can I use sRGAN to generate person images such as apply this code on MArket-1501 dataset and Viper dataset?"

[2018-07-02 11:33] zsdonghao commented on #98
you need to compare the image resolution and size with the dataset used in this project

[2018-07-04 08:05] Rabia-Raja commented on #98
ok and what about number of epochs. It also varies from dataset to dataset.

[2018-07-05 16:59] smiduthuri commented on #67
Hi burgetrm,
Can you elaborate a bit more on how you resolved the problem? I've been facing the same issue during evaluation.

[2018-07-05 17:03] burgetrm commented on #67
In my case there were read priviledges problem - check wheather the file
already exist on the given path and you have read and write priviledges.

Radim

Dne čt 5. 7. 2018 19:59 uživatel Sai Parthasarathy Miduthuri <
notifications@github.com> napsal:

[2018-07-05 17:14] smiduthuri commented on #67
Thank you. I realized that I was facing issues due to the user permissions on the shared system I am using.

[2018-07-11 06:42] bluewidy opened #99 "Output Image is very strange."
I used the command python main.py --mode = evaluate and got the output. But the output is really strange. Why is this happening? What should I do?
![original image](https://user-images.githubusercontent.com/40682277/42554745-985b055e-84d5-11e8-94ec-97baeaaee182.png)
![output image](https://user-images.githubusercontent.com/40682277/42554746-99af38e4-84d5-11e8-8f55-180c70798501.png)

[2018-07-11 11:08] bluewidy commented on #99
Hahaha ... I was a fool. I didn't teach artificial intelligence anything, so I got this.

[2018-07-11 11:08] #99 closed

[2018-07-11 13:52] bluewidy commented on #83
@zsdonghao I acted as you said. However, the following error occurred :
ValueError: Dimension 2 in both shapes must be equal, but are 256 and 64. Shapes are [1,1,256,3] and [1,1,64,3]. for 'Assign_171' (op: 'Assign') with input shapes: [1,1,256,3], [1,1,64,3].
What should I do? How should the source code be modified? I would appreciate your teaching.

[2018-07-11 15:43] bluewidy opened #100 "I'm delete the one subpixel convolution, then there was a problem."
I removed one subpixel convolution to upscale the picture twice, not quadruple. Then, the following error message appeared :
ValueError: Dimension 2 in both shapes must be equal, but are 256 and 64. Shapes are [1,1,256,3] and [1,1,64,3]. for 'Assign_171' (op: 'Assign') with input shapes: [1,1,256,3], [1,1,64,3].
Something is wrong. Did you know how to resolve this error? please help.

[2018-07-12 10:07] zsdonghao commented on #100
you will need to change the data, placeholder and etc correspondingly.

[2018-07-12 10:13] bluewidy commented on #100
Could you tell me more details? I didn't really understand what you said. I'm sorry. And please. If you point out exactly where you need to change, I would very much appreciate you.

[2018-07-12 13:36] zsdonghao commented on #100
hi, three things you need to do:

1. size of placeholder
2. network architecture
3. image size

[2018-07-12 15:57] bluewidy commented on #100
network architecture? Is this?
`""" conv1 """
        network = Conv2d(net_in, n_filter=64, filter_size=(3, 3), strides=(1, 1), act=tf.nn.relu, padding='SAME', name='conv1_1')
        network = Conv2d(network, n_filter=64, filter_size=(3, 3), strides=(1, 1), act=tf.nn.relu, padding='SAME', name='conv1_2')
        network = MaxPool2d(network, filter_size=(2, 2), strides=(2, 2), padding='SAME', name

[2018-07-12 21:29] #93 closed

[2018-07-12 21:30] zsdonghao commented on #88
@scutdyk if you don't have any other question related to this issue, please close it. thanks

[2018-07-12 21:30] #57 closed

[2018-07-12 21:32] #56 closed

[2018-07-13 02:16] suke27 commented on #100
t_image = tf.placeholder('float32', [1, None, None, 3], name='input_image')

it is None shape, as I test some ops of tensorflow not support None shape, so you'd better set fixed size for plcaeholder

[2018-07-13 03:43] #88 closed

[2018-07-13 04:09] bluewidy commented on #100
@suke27 Can you help me please? I am looking for a friend who can help me :'(

[2018-07-13 11:49] bluewidy commented on #100
@zsdonghao Okay. May I ask you one last question, please? Where is the network architecture? I don't know what network architecture means. I'm sorry I'm ignorant...

[2018-07-13 16:11] zsdonghao commented on #100
@bluewidy see `model.py`

[2018-07-13 16:15] bluewidy commented on #100
@zsdonghao Thanks for lending a hand.

[2018-07-14 07:23] bluewidy commented on #100
@suke27 I went into model.py and tried everything I could. However, the error still appears. I'm really distressed. I don't know what to fix in model.py. Please give me some advice.

[2018-07-17 08:46] Heermosi commented on #61
Oh, my.
I also faced the same problem, now my boss is storming me for solving it
And! Even if you replaced the LR image from the training set with jpg images, it shall not reach your expectations.
**Because the source code did not really read the LR images for training, it generates, the digital zoomed 1/4 pics from HR image crops**
So, I'm searching for a way to lower the quality of the training

[2018-07-17 12:21] suke27 commented on #61
@Heermosi even we input jpg files as input, also can not this problem, do you have any new progress?

[2018-07-17 15:23] ABDOELSHEMY commented on #83
Same error here
ValueError: Dimension 2 in both shapes must be equal, but are 256 and 64. Shapes are [1,1,256,3] and [1,1,64,3]. for 'Assign_171' (op: 'Assign') with input shapes: [1,1,256,3], [1,1,64,3].

@zsdonghao could you more clarification please, and save us hours to solve this without any luck

[2018-07-17 16:42] bluewidy commented on #83
@ABDOELSHEMY
You are having the same problem as me! I tried very hard, but eventually I gave up... can you help me please?

[2018-07-17 18:33] zsdonghao commented on #83
Why you have this error? @ABDOELSHEMY ? you remove one subpixel and load the pre-trained model? If yes, you can't do like that, you need to re-train the model from scratch.

[2018-07-17 19:34] ABDOELSHEMY commented on #83
oh, i understand now, Unfortunately that is excatly what i did,  remove one subpixel and simply load the pre-trained model and trying so on more than 2 hours, thank you @zsdonghao for your great clarification.

@bluewidy, as zsdonghao said, we should re-train the model after remove one subpixel.

[2018-07-18 02:07] suke27 commented on #83
@all, does somebody can show enhance image result(no enlarge), I am interested in it.
thank you!

[2018-07-18 19:11] bluewidy commented on #83
@zsdonghao It was a decisive answer! Thank you! But I have a question. Is it impossible to do that with a pre-trained model? Retraining a new model is cumbersome and time consuming.

[2018-07-19 02:54] Heermosi commented on #61
@suke27 @Jean332
Currently I changed the util.fn_downsample to make jpg inputs.
The main reason for the bad repair results from poor input image quality.
Now from current training results, the generated files are still very poor, even poorer than the srgan_ginit results visually.

I think may be ...... small random noises must be applied, so that the GAN itself may learn how to overcome the trivia

[2018-07-19 05:58] Heermosi commented on #61
@wagamamaz  Really, you don't need to save it into files. You only need to use python-opencv to convert it into jpg encoding, then back. That's enough.  ---- Though the JPG trained result is still poor.

[2018-07-19 06:34] suke27 commented on #61
@Heermosi
"I thought I'll be fired if I cannot find a way out.."
sorry to hear that, what is your target, just super resolution? if so, you can consider other solution. GAN is not stable

[2018-07-19 07:44] Obliviously commented on #65
@rahat-yasir You need a new model for every scale.
@cauivy Adjust model.py by removing one scaling layer
[code]
In main.py adjust the placeholder variables to fit your desired in and output

[code]
And in utils.py adjust the downsample function
[code]

This should be it. Maybe i missed something but don't worry you will get an error if so :)

[2018-07-19 08:16] Heermosi commented on #18
@JustinhoCHN Is there any progress made by applying artifact removal?
I've tried the same route as you did, I found the bilateral filter might help reduce some noise in the final result, though they did not help identification.
My Boss now forgive me for not able to SR and identify objects from jpg LR pics.
I thought if that way works, maybe I'll have an alternative to test.

[2018-07-19 15:15] zsdonghao commented on #83
@bluewidy we always have to re-train it..

alternatively, to make the output size smaller, you can try adding a DownSamplingLayer to the output layer.

[2018-07-19 15:31] bluewidy commented on #83
@zsdonghao I found InputLayer on main.py. However, the OutputLayer is not visible.

[2018-07-19 15:41] zsdonghao commented on #83
@bluewidy the output layer means the finial layer in the model.

[2018-07-19 15:45] bluewidy commented on #83
@zsdonghao
 Aha... Thank you! I'm fool XD

[2018-07-19 15:56] bluewidy commented on #83
@zsdonghao Well ... Adding the DownSamplingLayer seems very difficult ... I'll just choice re-train the model.

[2018-07-19 16:09] bluewidy commented on #83
@zsdonghao
I set up the main.py placeholder as follows.

  t_image = tf.placeholder('float32', [batch_size, 96, 96, 3], name='t_image_input_to_SRGAN_generator')
    t_target_image = tf.placeholder('float32', [batch_size, 96, 96, 3], name='t_target_image')``

and I set up the utils.py as follow.

def crop_sub_imgs_fn(x, is_random=True):
    x = crop(x, wrg=96, hrg=96, is_random=is_random)
    x = x

[2018-07-19 16:37] ontheway16 commented on #83
Following.

[2018-07-20 02:47] suke27 commented on #83
@bluewidy, you enlarge from LR, then resize to original image. I don't think it will improve the quality of image. if any progress Plz share to us.

[2018-07-20 05:25] Heermosi commented on #61
@suke27
1. Yesterday, the good news is, my boss looked happy with current progress ... ignorant of the limit of real application. Thank you for your consideration

2. It's true, GAN is not so pleasant. The target is simple: extending the detection range of objects.
Fine, except for better graphic quality, it seems cannot be helped.
Or, there is a proposed way, an ICCV 2017 paper referenced in thre

[2018-07-22 12:04] OValery16 commented on #62
same error

[2018-07-23 03:20] cauivy commented on #65
Thank you very much for your reply!

[2018-07-23 07:01] bluewidy commented on #83
![valid_lr](https://user-images.githubusercontent.com/40682277/43061785-15e9a01a-8e46-11e8-8783-3d78e4af1be7.jpg)
![valid_gen](https://user-images.githubusercontent.com/40682277/43061791-19f10612-8e46-11e8-9e91-233cd69837a7.jpg)

@suke27 here is share my result. It's really assum.

[2018-07-23 08:52] suke27 commented on #83
@bluewidy, based on your result, it looks like worse than original image

[2018-07-23 09:29] Obliviously commented on #65
@artificialskills To also answer the original question. For 8x upscaling you do it similar, instead of removing a scaling layer you add one. You probably also have to adjust the number of filters in the conv2d layers.

[2018-07-23 11:32] Obliviously commented on #84
Im not sure how much VRAM you need but you could change the code to load images only batch wise to reduce memory load. Apart from that you could lower the batch size or lower the image resolution. Last but not least you could also train on CPU  which is obviously a lot slower.

[2018-07-24 02:39] JustinhoCHN commented on #18
@Heermosi There're 2 papers I'd like to recommend: [Deep Generative Adversarial Compression Artifact Removal](http://arxiv.org/abs/1704.02518), removing compression artifact using GAN method. And [Learning a Single Convolutional Super-Resolution Network for Multiple Degradations](http://arxiv.org/abs/1712.06116), they proposed that the generalization problem is caused by setting the same downsampl

[2018-07-24 03:50] ABDOELSHEMY commented on #83
@bluewidy  how did you get this result, are you add a DownSamplingLayer, or removing SubpixelConv2d and retrain the model

[2018-07-24 08:05] bluewidy commented on #83
@ABDOELSHEMY How do I add a DownSamplingLayer? Can you show me example?

[2018-07-24 10:07] ABDOELSHEMY commented on #83
@bluewidy Unfortunately I did not success to make it work as I am not a professional in this field, if I success to make it work any time I will let you know

[2018-07-24 11:07] bluewidy commented on #83
@ABDOELSHEMY Thank you!  XD

[2018-07-30 05:37] Heermosi commented on #18
@JustinhoCHN  Fine, I also suspected current test approach is not applicable in real scene. It's too closely coupled with quality. Which means it was just a local working engine.

[2018-07-30 08:02] MurtazaNajaf commented on #52
CAN I  USE LOW RESOULTION  IMAGE TO  ENHANCE IT WITHOUT MANIPULATING THE CODE

[2018-07-30 08:03] MurtazaNajaf commented on #52
I AM STILL FACING PROBLEM  HOW TO  CONFIGURE THE PRETRAINED DATA SET

[2018-08-01 09:02] sdlpkxd commented on #48
Excuse me, I was confused by the weights of the losses ,have you ever tried other weights for the losses and how much influence can the weights bring to the results？ Thank you in advance.

[2018-08-01 17:33] phamnam95 commented on #85
@Zzzzy411  Did you successfully apply srgan to your dataset? I am doing similar thing so just want to follow up

[2018-08-02 03:33] Heermosi commented on #18
@JustinhoCHN We've tested on raw images captured by Cannon Camera, the pic quality is lower than pics zoomed from HR images. May be the focus is the problem? I guess it was hard to take a pic the same quality as training LR images.

[2018-08-02 10:07] BaiYu0120 opened #101 "How to visualize the VGG feature maps in tensorboard?"
Hi, can anyone help me how to do this?
I use the code below but get a error.
"tf.summary.image("vgg_out", network, 64)"

Error:
Traceback (most recent call last):

    tf.summary.image("vgg_out", network, 64)
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/summary/summary.py", line 153, in image
    tag=tag, tensor=tensor, max_images=max_outputs, name=scope)
  File "/usr/local/lib

[2018-08-07 19:55] Nodice commented on #92
Getting the same Error.

Using Tensorflow 1.9

As with most issues with tensorflow projects I suspect it is an issue with the tensorflow version as the project states that it is built for 1.4.

Would be nice if someone could shed light on this as there are multiple issues opened for this error.

[2018-08-07 23:06] Nodice commented on #92
So this issue is just Programming 101, always check your assumptions. Turns out my images where not in the correct locations. Unzipping the sample images causes a sub folder to be created. Make sure the images are not in a double folder and exactly match what is in the config.py

[2018-08-09 14:40] phamnam95 opened #102 "Data normalization"
I saw in the code, the HR images are normalized to be between -1 and 1. Then you use that normalized HR images and resize to create the LR images. But after that you also normalize your LR images again. Why do you normalize again? I thought the scale is already -1 to 1 for HR images, then even if you resize the scale is still -1 to 1?

[2018-08-10 01:27] Heermosi commented on #18
@JustinhoCHN
We've found the quality of HR picture is different from quality of LR pics used for training. The zoomed LR pics used for training has a sharper edge for HR reconstruction.
For example, if you take pics from different distances, the origin images would show the same thickness in edge, it's around 2 pixels. while in zoomed pics, they would be only 1 pixel or less.
The optical system se

[2018-08-10 17:38] MurtazaNajaf opened #103 "Question"
Hello and good day,
 I am pretty new in field of Deep Learning , its been my third week i wanted to run the code for "Photo-Realistic Single Image Super-Resolution Using a Generative Adversarial Network"
i have installed all the prerequisite but i don't have access to (test_LR_bicubic_X4) ,

moreover do i need to write some code my self to run this program"https://github.com/tensorlayer/srgan"  I

[2018-08-15 08:34] jeremy7710 commented on #67
I have this issue too. And resolved.
The reason is I didn't download the pre-trained model, I just download .npy file.
You have to download .npz file.

link here.
https://github.com/tensorlayer/srgan/releases/tag/1.2.0

[2018-08-16 07:57] huangqianfirst opened #104 "Why do images do poorly when the resolution is less than 100"
I am confuse why some test image greater than 300pix can works well, but when i test images which resolution less than 100pix or around 100pixel , the texture detail can't recover while the model it trained by 9696 to 384384 . like below , lr is input, 4x_gen is output. I kown it lr images may has been lost many detil, but why result is so awful and how **can i impove upscale result of images reso

[2018-08-21 05:50] akshay951228 opened #105 "please provide d_srgan.npz"
if provide discriminate trained weight would be helpful. I would like to use it for transfer learning.

[2018-08-21 08:39] zsdonghao commented on #105
it is provided. check readme.

[2018-08-21 08:39] #105 closed

[2018-08-21 10:10] akshay951228 commented on #105
you provide g_srgan.npz but I need **d_srgan.npz** to resume training from there

[2018-08-21 10:12] zsdonghao commented on #105
oh, i see, that model is too big .. and actually, in my view, it is not useful for transfer learning.

However, if you want to have one, you can train the D with pre-trained G with 1 epoch.

[2018-08-21 15:39] HayatoTomita opened #106 "What does initialize G mean?"
I can not understand the meaning of initializeG.
https://github.com/tensorlayer/srgan/blob/13607e275baf3ec6052ecd90f3403433f4271977/main.py#L143-L182
I do not think there is such a description in the paper(https://arxiv.org/abs/1609.04802), but which part of the paper should I refer to? Also, is it a generally effective way to learn 100 epoch like the sample with initialize?

[2018-08-21 16:09] HayatoTomita opened #107 "Do I have to learn initializeG every time?"
I want to resume training from checkpoint, but learning of initializeG is done every time.

I think that if this part return true, in other word, restore the `g_srgan.npz` correctly, initializeG part does not need to execute.
https://github.com/tensorlayer/srgan/blob/13607e275baf3ec6052ecd90f3403433f4271977/main.py#L109-L110

In relation to the display of epoch, even if restore checkpoint files co

[2018-08-22 15:36] MurtazaNajaf commented on #65
i  tried for the 4x upscaling the same program  but it throws me alot of exception
which   i am unable to handle any  suggestion

[2018-08-22 15:48] MurtazaNajaf opened #108 "Question"
when i try  to run the code i  got the following exception
C:\Users\MurtazaNajaf\Anaconda3\python.exe E:/SRGAN/main.py
C:\Users\MurtazaNajaf\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_c

[2018-08-22 15:56] MurtazaNajaf commented on #92
i  am getting this error could you please suggest me what to  do

Exception in thread threading_and_return:
Traceback (most recent call last):
  File "C:\Users\MurtazaNajaf\Anaconda3\lib\threading.py", line 916, in _bootstrap_inner
    self.run()
  File "C:\Users\MurtazaNajaf\Anaconda3\lib\threading.py", line 864, in run
    self._target(*self._args, **self._kwargs)
  File "C:\Users\MurtazaNajaf\A

[2018-08-22 17:09] Nodice commented on #92
Looks like an Issue with your Anaconda3. I don't have experience with Tensorflow inside of Anaconda.

Validate first that Tensorflow, or Tensorflow-GPU is running fine by following the google tensorflow install instructions.

If that is working, first try to train the project using the images mentioned in the project. There are links to download them. You have to make sure the folder structure mat

[2018-08-26 21:19] ray1422 opened #109 "使用預訓練的模型產生出的圖片畫質非常低"
如題目，請問是我哪裡做錯了嗎，或是提供的模型僅為學習用的，沒有經過很多訓練?

![valid_gen](https://user-images.githubusercontent.com/30434835/44633092-b5902700-a9b8-11e8-8dcf-92f68f6831f9.png)

[2018-08-26 21:21] #109 closed, assigned to nobody

[2018-08-26 21:41] ray1422 opened #110 "initialize_global_variables is deprecated"
[code]
這個警告不要緊嗎

[2018-08-27 12:06] weiyuxingchen opened #111 "the version of python"
can you tell me the version of python you used

[2018-08-28 02:34] duxufeiqq opened #112 "Question about the channl of training images is't"

[2018-08-28 02:43] duxufeiqq commented on #112
if i should train the  model with images that don't have 3 channel , should i modify the files in tensorlayer  or just change the main.py and model.py

[2018-08-28 02:49] duxufeiqq commented on #33
@lisen0 ， hi， have you train the model with gray images successfully?

[2018-08-28 11:44] zsdonghao commented on #112
hi, @duxufeiqq , simply change the number of channel from 3 to your number then.

[2018-08-29 02:11] duxufeiqq commented on #112
thank you！ i will have a try ！

[2018-09-02 13:16] TianChenone opened #113 "Problem about "Dimension 0 in both shapes must be equal, but are 9 and 3 for 'Assign' (op: 'Assign') with input shapes: [9,9,3,64], [3,3,3,64].""
Traceback (most recent call last):
  File "main.py", line 355, in <module>
    evaluate()
  File "main.py", line 324, in evaluate
    tl.files.load_and_assign_npz(sess=sess, name=checkpoint_dir+'/g_srgan.npz', network=net_g)
  File "/home/tina/tensorflow_about/SRGAN_Wasserstein-master/tensorlayer/files.py", line 723, in load_and_assign_npz
    assign_params(sess, params, network)
  File "/home/tin

[2018-09-03 00:45] TianChenone commented on #113
Thank you! I probably know the reason. And I still have a question is that if I want to change a little on the structure of the SRGAN exactly on SRGAN_g, I will face following dilemma:
If I run "python main.py" directly without download g_sran.npz.
The command line will show error information like "failed to load checkpoint/g_sran.npz;failed to load checkpoint/g_sran_init.npz..."
But if I put the

[2018-09-04 13:48] eugeneu commented on #81
Hi,
Where can I get a pre-trained model?
Also I don't quite understand the purpose of these checkpoints if I want to do the initial training.

[2018-09-04 13:50] zsdonghao commented on #81
@eugeneu check readme

[2018-09-04 14:06] eugeneu commented on #81
I got VGG19 from https://mega.nz/#!xZ8glS6J!MAnE91ND_WyfZ_8mvkuSa2YcA7q-1ehfSm-Q1fxOvvs
And I got g_srgan.npz from here https://github.com/tensorlayer/srgan/releases/tag/1.2.0
But,
`[TL] [*] Load checkpoint/g_srgan.npz SUCCESS!
[TL] [!] Load checkpoint/d_srgan.npz failed!
Traceback (most recent call last):
  File "main.py", line 310, in <module>
    train()
  File "main.py", line 118, in train

[2018-09-04 20:26] zsdonghao commented on #81
@eugeneu could you try this vgg19? https://github.com/tensorlayer/pretrained-models/tree/master/models

[2018-09-05 02:51] TianChenone commented on #92
When you train the model from the beginning, is there an error like "failed to load d_srgan.npz"? If there is,
how to resolve? Thank you.

[2018-09-05 02:53] TianChenone commented on #113
Excuse me again, when training the model from the beginning, there will be error "failed to load d_srgan.npz"? But I only have g_srgan.npz, how to solve the problem? I also view other comments but didn't find the way .Thank you.

[2018-09-05 09:00] TianChenone commented on #113
I have solved my problem by putting vgg19.npy outside the checkpoint just in SRGAN_Wasserstein-master.  = =

[2018-09-05 09:00] #113 closed

[2018-09-05 13:06] eugeneu commented on #81
Hi @zsdonghao
I changed vgg19 to the version from the link you provided, and now the training starts.
Thank you!

[2018-09-05 13:22] CCCCCCCHEN opened #114 "An error occurred when I use the model to gray images"
Hi!
The following error occurs when I use the model to gray images
ValueError: Cannot feed value of shape(16,96,96) for tensor 't_image_input_to_srgan_generator:0', which has shape '(16,96,96,1)'
How should I solve this problem?
Thank you!

[2018-09-05 13:26] zsdonghao commented on #114
the error already show you how to do . (16,96,96)  and (16,96,96,1) don't match.

simply run `images[:,:,:,np.newaxis]` to make (16,96,96) to (16,96,96, 1)

[2018-09-08 00:15] OdinYue commented on #65
I tried 2x upscaling and I found the computation speed is very slow. Is that because the network dimension is 4 times larger than 4x scale's network? Thanks!!!

[2018-09-14 01:56] luckyboysmith commented on #57
hello
i meet the same question when i test the model in evaluate as
TypeError: unsupported operand type(s) for /: 'NoneType' and 'float'

have u solved it? hope to get your reply

[2018-09-14 01:58] luckyboysmith opened #115 "TypeError: unsupported operand type(s) for /: 'NoneType' and 'float'"
hello
when i test the model with my own imgs,
i get the wrong as following:
TypeError: unsupported operand type(s) for /: 'NoneType' and 'int'

However, when i test the img with the given valid images, the wrong is gone
need your help. hope to get your reply

[2018-09-14 01:59] luckyboysmith commented on #115
valid_lr_img = (valid_lr_img / 127.5) - 1   # rescale to ［－1, 1]
TypeError: unsupported operand type(s) for /: 'NoneType' and 'float'

[2018-09-14 01:59] luckyboysmith commented on #57
@Leeson111

[2018-09-14 02:00] luckyboysmith commented on #115
@zsdonghao

[2018-09-14 03:00] luckyboysmith commented on #115
solved, the problem occurs by the wrong valid_img path, thanks for the best code

[2018-09-21 01:30] wl3b10s opened #116 "how to get d_srgan.npz load"
when using training stage.

i got "d_srgan.npz" not found.

there is g_srgan download link in readme, but how to get d_srgan.npz??

thanks.

[2018-09-24 13:44] JobSmith opened #117 "There is no output or any tips?"
![image](https://user-images.githubusercontent.com/15700681/45955529-c331de80-c042-11e8-9716-ad341b08d596.png)
As this picture show, It doesnt show any outputs or error information,.
I dont know what happened.

[2018-09-24 23:36] zsdonghao commented on #117
did it saved any images?

[2018-09-25 08:46] JobSmith commented on #117
No any images were saved.
And the path is below:
![image](https://user-images.githubusercontent.com/15700681/46003074-3c344300-c0e2-11e8-8008-2284e045f0dc.png)

[2018-09-25 12:48] JobSmith commented on #117
![image](https://user-images.githubusercontent.com/15700681/46015177-259ee380-c104-11e8-90d6-5aacf5a0665e.png)
I set the breakpoint and run this file, but it can not run to the point.

[2018-09-28 01:10] tonyzzzt opened #118 "How to test the model in single image?"

[2018-09-28 01:35] tonyzzzt commented on #118
i got it...

[2018-09-28 01:35] #118 closed

[2018-09-29 00:36] amanmeetgarg commented on #69
@zsdonghao  Thank you for sharing the very concise implementation.  I am working on a dataset where the image scale factor from HR/LR is 1.5 and 2.25.
I am having a hard wrapping my head around how would I get it to work on these data.
I am limited as the original HR images are in 4:3 aspect ratio and need to be upsampled in the same aspect ratio ..

Any thoughts on how this would come across in t

[2018-09-29 00:37] amanmeetgarg commented on #65
@Obliviously
Thank you for sharing the very concise implementation.  I am working on a dataset where the image scale factor from HR/LR is 1.5 and 2.25.
I am having a hard wrapping my head around how would I get it to work on these data.
I am limited as the original HR images are in 4:3 aspect ratio and need to be upsampled in the same aspect ratio ..

Any thoughts on how this would come across in

[2018-09-29 08:50] Obliviously commented on #65
As far as I know you can't do floating point scaling with the given layers. The easiest way of doing it would be to scale it to the the next integer factor and then do a simple bicubic downscaling to your desired size.

The aspect ratio doesnt really matter, because (during training) SRGAN is cropping the image anyway. So this shouldnt concern you.

[2018-10-08 11:49] yyy13 commented on #49
have you solved the problem :NameError: name 'os' is not defined. I have the same problem but i have improted os.  Don't know why.

[2018-10-08 22:32] EwoutH opened #119 "Update to TensorFlow 1.11"
TensorFlow has accumulated a lot of improvements in the past releases, so srgan should be updated to [TensorFlow 1.11.0](https://github.com/tensorflow/tensorflow/releases).

[2018-10-09 10:00] zsdonghao commented on #119
any errors when you run it with TF 1.11.0 ?

[2018-10-13 05:05] xvyaward opened #120 "Some training issues. (color problem, high g_loss)"
Hi! Thanks for your implementation of SRGAN. It works well.

By the way, I have some issues while training.
I have trained both on Ubuntu16.04 + GTX 860m 4Gb  /  Windows10 + GTX 1070 8Gb, but I had same issues.

First I had OOM memory issue, so I changed config.TRAIN.batch_size = 4, and config.TRAIN.n_epoch = 8000. (I thought I need more iterations cause I reduced batch size) Then It worked.
Also

[2018-10-13 05:13] yuoa commented on #120
Could you upload your edited `main.py`?

[2018-10-13 05:20] xvyaward commented on #120
I only changed these in main.py: to solve memory issue

from line 151
[code]

from line 200
[code]

[2018-10-13 05:55] zsdonghao commented on #120
Hi, the loss is incorrect. It seems it is caused by a TensorLayer update, and the image value should be -1~1, the scale functions in utilise.py may need to modify: divide image by 127.5 then minus 1.

Could you have a quick try? Or I can check it later

[2018-10-13 06:07] xvyaward commented on #120
I changed uils.py and losses seems fine.
![image](https://user-images.githubusercontent.com/32446763/46902048-58fdb280-cef9-11e8-9fc2-8fc4bb9ae7cb.png)

g_init result is below
![image](https://user-images.githubusercontent.com/32446763/46902055-6ca91900-cef9-11e8-9366-ed2220a7ae9a.png)

train_50.png result is this
![image](https://user-images.githubusercontent.com/32446763/46902065-8c404180-cef9-1

[2018-10-13 06:11] zsdonghao commented on #120
Wow, great! Let me know if your training is success~

Btw, could you commit your change to this repo? Many thanks for the contribution ~

[2018-10-13 06:33] xvyaward commented on #120
I'm using tensorlayor 1.8.0 now.
The current version is 1.10.1.

I'm not sure if my change causes other well-worked people to not working..  Because my tensorlayer version is not the latest one.

Also I just deleted the comments in utils.py  :)
[code]
to the

[code]

If you don't mind these, then I will commit my change to this repo!

[2018-10-13 06:56] zsdonghao commented on #120
hi, you should delete `x = x - 0.5` as well, let me change it, I just go home.

[2018-10-13 14:16] xvyaward commented on #120
Hi! I finished 8000 iteration, and here is my result. I started this training from vgg19.npy only.

![valid_lr](https://user-images.githubusercontent.com/32446763/46906277-dcd88e80-cf3b-11e8-8e7e-56de1ac583eb.png)
<valid_lr.png>

![valid_gen](https://user-images.githubusercontent.com/32446763/46906395-c0d5ec80-cf3d-11e8-8ee4-884473f67667.png)
<valid_gen.png>
It's quite good, I think it would be be

[2018-10-13 14:34] zsdonghao commented on #120
wow, so quick. I thought it should be bad as you didn't delete `x = x - 0.5` ...

[2018-10-15 13:54] JobSmith opened #121 "Where is the implmentation code of SSIM and PSNR?"
I want to know the training result.
So can you give me the SSIM and PSNR implementation code.
Thanks!

[2018-10-16 02:49] weiyuxingchen opened #122 "test time is too high"
When testing, if I change the size of the input image, the test time on the GPU will be very long, without changing the size of the image, the second start time will be normal; this problem was not found on the CPU; is this a problem for tensorflow?

[2018-10-17 02:48] weiyuxingchen commented on #122
I mean, super-resolution networks are bound to be compatible with different resolution inputs, and when the resolution of the input image changes (by one pixel), the forward time is very long. I monitored it with timeline and found that the time is spent on kernel scheduling.

[2018-10-19 22:15] Albertogit31 opened #123 "commercial use"
I would like to use your software for a commercial use. I tried to get in contact with both tensorlayer@gmail.com and dhsig552@163.com more than 2 weeks ago but I have received no answer.
Does anyone know who can I try to contact?

[2018-10-23 06:04] linhdvu14 commented on #7
What data was the current pretrained model trained on?

[2018-10-26 17:30] mrveozsahn commented on #81
hi @zsdonghao
[TL] [*] Load checkpoint/g_srgan.npz SUCCESS!
[TL] [!] Load checkpoint/d_srgan.npz failed!
  Loading conv1_1: (3, 3, 3, 64), (64,)
  Loading conv1_2: (3, 3, 64, 64), (64,)
  Loading conv2_1: (3, 3, 64, 128), (128,)
  Loading conv2_2: (3, 3, 128, 128), (128,)
  Loading conv3_1: (3, 3, 128, 256), (256,)
  Loading conv3_2: (3, 3, 256, 256), (256,)
  Loading conv3_3: (3, 3, 256, 256), (2

[2018-10-31 20:39] HenryJunW commented on #89
Same problem, did you try to crop smaller subimages and get it worked on image (256, 256) @jiangshashen

[2018-11-07 09:02] nuppt opened #124 "kernal size"
I notice that there's no kernal_size description such as `k3n64s1`, but `n64s1` in the architecture picture. Is there any modification in this implement version from original model in paper?

[2018-11-08 14:01] nerdsang commented on #83
I met the problem too.After removing SubpixelConv2d, this error is showing,
found_var.get_shape()))
ValueError: Trying to share variable SRGAN_d/ho/dense/W, but specified shape (2048, 1) and found shape (18432, 1).
What should i do? @zsdonghao

[2018-11-09 03:32] linhdvu14 commented on #49
@zsdonghao I'd like to retrain. Where do I find `d_srgan.npz`? Thanks!

[2018-11-13 03:13] wehkjhkl opened #125 "valueerror :no variables to optimize."
I am trying to modify the network,but there is something wrong,It shows that there are no variables to optimize.

[2018-11-14 00:54] zsdonghao commented on #125
please report your environment - tf , tl, python version

[2018-11-17 04:04] wehkjhkl commented on #125
@zsdonghao I run my code on windows ,python3.5,tensorflow1.8,tensorlayer1.9。anython wrong?

[2018-11-18 04:52] zsdonghao commented on #125
I cannot found the reason, could you update TF and TL to the latest version and have a try again?

[2018-11-18 23:07] JadenLy opened #126 "OOM error with CPU"
Thanks for your incredible work on the implementation. I want to train a SRGAN with my own dataset, which includes 1280 training images and 69 validation images. Images have at most around 3000x4000 dimension and at least around 1000x1400. I set the batch size to 4, number of threads to 8 and still received the following error. I wonder what else can I change.

Configruation: Ubuntu 16.04, CUDA 10

[2018-11-22 04:29] PonderK commented on #83
@bluewidy hello，i used your method, but it faild. Can you share your code with me. Please contact me,thank you very much

[2018-11-22 04:46] bluewidy commented on #83
Hello. I can feel your longing. But I have some unfortunate news for you.
I've been trying to reduce the resolution a long time ago. But my method
eventually failed. I'm not an expert. A common person who has little
knowledge about computer programming. Do not use my method. That was the
wrong way. And it's been a long time since I gave up. And I formatted my
computer. so I don't have any source c

[2018-11-22 04:55] PonderK commented on #83
@bluewidy ok ,thanks for your opinion, i will ask him for help! thanks again

[2018-11-22 05:04] PonderK commented on #83
@zsdonghao I have the same problem about this,i tried the bluewidy's method above. But it didn't run. i don't know what's wrong with me, Can you give me some suggestion? Thank you very much!

[2018-11-22 07:41] wehkjhkl commented on #125
@zsdonghao the function name SRGAN_g shoud correspond with "SRGAN_g" in tf.variable_scope("SRGAN_g", reuse=reuse)

[2018-11-28 13:05] poikilos commented on #72
Why was #63 closed? The link provided in the reply to 63 also doesn't work.

[2018-11-28 13:11] poikilos commented on #86
same as #72 and still not solved (please see my question there)

[2018-12-03 16:59] mrveozsahn commented on #3
what s the last total loss values?  I comleted all 2000 epoch but  ı  lost the value before  ı record it

[2018-12-13 22:52] impactcolor opened #127 "error on evaluate"
I'm trying to evalute but I get the following error:
  File "main.py", line 312, in <module>
    evaluate()
  File "main.py", line 251, in evaluate
    valid_lr_img_list = sorted(tl.files.load_file_list(path=config.VALID.lr_img_path, regx='.*.png', printable=False))
  File "/usr/local/lib/python2.7/site-packages/tensorlayer/files/utils.py", line 2165, in load_file_list
    file_list = os.listdir(p

[2019-01-09 15:30] psyhtest commented on #123
Another licensing concern: https://github.com/tensorlayer/srgan/issues/71

[2019-01-09 16:12] William-Mou commented on #71
@scotthuang1989
Hello, There is an another website which save the DIV2K dataset.
Although it don't share the test dataset of the contest like ReadME, but it share the photo what you need to train this model.
https://data.vision.ee.ethz.ch/cvl/DIV2K/

And, there is a link included some dataset for running this code.
https://drive.google.com/drive/folders/19LNkrgZDxtYQWNoaONAzbqmgK9fBEc_I?usp=sharin

[2019-01-09 17:35] psyhtest commented on #123
Have you tried emailing hao.dong11@imperial.ac.uk ?

[2019-01-10 06:04] scotthuang1989 commented on #71
@William-Mou Thanks. I can download dataset from this link.

[2019-01-18 06:26] HARIHARAN1103 opened #128 "Main requirement is to get image deblur and denoising. Which GAN model is suitable for this requirement."
I have implemented SRGAN in google colab. I got only larger image, but the qualities are not improved.
To get deblur,denoising and clear image what model GAN is suitable.

[2019-02-06 10:46] Ds866 commented on #65
Hi, also a similar question. I'm working on upscaling by 3x. I have altered my downsample function in utils.py to be

`x = imresize(x, size=[144, 144], interp='bicubic', mode=None)`

I'm struggling to understand how to change the model to cope with 3x, and what changes need to be made in main.py to account for this. Thanks!!

[2019-02-08 11:21] mexicantexan commented on #126
Those images appear to be way to large for your system to handle. I would suggest preprocessing them to a smaller size.

[2019-02-08 11:22] mexicantexan commented on #111
Currently using Python 3.6, CUDA 10.0, Tensorflow 1.12

[2019-02-08 11:29] mexicantexan commented on #128
This network takes a high-resolution photo, downgrades it to a lower resolution and works to bring that lower resolution photo back up to the same quality and standard as the high-resolution photo. Therefore, if you train on bad images, the model will perform poorly. Also if your images already has extreme amounts of noise, this network will not perform the best either. To de-noise a picture you c

[2019-02-15 07:17] RigoYao commented on #7
Could you please send me your trained model? My email address is rigoyao@163.com. Thank you for sharing the work! @zsdonghao

[2019-02-16 19:56] gao-xian-peh opened #129 "Testing on multiple images"
Currently the code runs only on 1 test image, can I check how do you run it on a batch of images?

Would appreciate a prompt reply..

[2019-02-16 22:10] #129 closed

[2019-02-17 16:17] SalmaAhmed95 commented on #7
May I ask how to run the pretrained model ?

[2019-02-26 21:04] JamesLWang opened #130 "Jupyter Notebook Example"
Is there a Jupyter notebook example for training and demo?

[2019-03-06 13:32] Pamulapati13 commented on #126
try google colab

[2019-03-08 19:01] #126 closed

[2019-03-12 03:20] vivid-chen commented on #116
you can annotation load .npz
`# tl.files.load_and_assign_npz(sess=sess, name=checkpoint_dir + '/d_{}.npz'.format(tl.global_flag['mode']), network=net_d)`

and run main.py
d_srgan.npz will be created.

[2019-03-14 09:19] JimmyChame commented on #3
Hi, May I have a look at you loss values (including d_loss and g_loss) please if you save them during training? I just want to know what is the normal change of the loss values during training. @subzerofun @zsdonghao

[2019-03-15 13:43] xvyaward opened #133 "Using multiple GPUs in training or testing"
Hi!
Currently, I'm trying to enhance multiple images sequentially with just one-time load of the SRGAN_g network.
However, when I look nvidia-smi, it says SRGAN program(python) is using all of my gpus, but I think only GPU0 is fully working on it. (By Temperature, power usage, and GPU-utill %)

![image](https://user-images.githubusercontent.com/32446763/54434430-977dee80-4771-11e9-840c-c30b9abdd46

[2019-03-18 13:43] coderzjw opened #134 "problem about pretrained model"
I have a problem like this when i used pretrained model:
OSError: Failed to interpret file 'checkpoint/g_srgan.npz' as a pickle
Can someone help me?

[2019-03-19 06:43] birkhoffkiki commented on #121
skimage.measure.compare_psnr
skimage.measure.compare_ssim

[2019-03-25 16:50] joellerena commented on #127
You must download the images that indicate you from the site  https://data.vision.ee.ethz.ch/cvl/DIV2K/
![folders](https://user-images.githubusercontent.com/24687663/54938292-13a3cf00-4ef4-11e9-8727-4f7130c1cc5a.png)

[2019-03-25 16:57] joellerena commented on #125
It works for me as the site indicates.
sudo pip install tensorlayer == 1.8.0
sudo pip install tensorflow == 1.4.0

[2019-04-05 07:39] amrbenattia commented on #134
@coderzjw
I have not seen this error but, did you create a checkpoint folder and put g_srgan.npz in it.

[2019-04-05 07:43] coderzjw commented on #134
I will check it later.Thank you.

[2019-04-05 14:06] amrbenattia commented on #49
Hello @zsdonghao ,
Is there a way to Tensorboard the losses with epochs.
How to calculate the psnr and ssim ?

Thanks

[2019-04-05 14:21] amrbenattia commented on #10
@JustinhoCHN , thanks for your answer but I wonder when I train my model, g_srgan.npz file is save at checkpoint file.
How epoch this file is upadated ? and if the training dropped at epoch 1000 out of 2000 how to continue training from that epoch ?
Thanks in advance

[2019-04-08 05:50] JustinhoCHN commented on #10
@amrbenattia as far as I can remember, srgan will save checkpoint file every 50 epochs. And the training code will restore the checkpoint automatically, it means it will restart at wherever you left before.

[2019-04-12 06:27] Elwarfalli opened #135 "Size of the out, Retrain the model"

[2019-04-12 06:31] Elwarfalli commented on #135
Hi @JingqingZ
I'd like to retrain the mode to get 2x instead of 4x. Would you mind help what should I change ??

I download Data 2x

I changed the decimation:  t_target_image = tf.placeholder('float32', [batch_size, 192, 192, 3], name='t_target_image').

so I am getting this error: ValueError: Trying to share variable SRGAN_d/ho/dense/W, but specified shape (18432, 1) and found shape (4608, 1).

[2019-04-12 15:49] Elwarfalli opened #136 "change the output size 2X! any help"

[2019-04-12 19:38] #136 closed

[2019-04-13 01:11] Elwarfalli commented on #65
I am getting this error when I follow your steps to retrain the model to get 2x: any help please

ValueError: Dimension 0 in both shapes must be equal, but are 1 and 3. Shapes are [1,1,64,3] and [3,3,64,256]. for 'Assign_169' (op: 'Assign') with input shapes: [1,1,64,3], [3,3,64,256].

[2019-04-14 08:47] wangyifenggg opened #137 "error when saving image"
Hello,I met some problems about saving image when training and evaluating.I use python3.6 , tensorlayer1.8 and tensorflow1.4.1.

Traceback (most recent call last):
  File "main.py", line 312, in <module>
    evaluate()
  File "main.py", line 293, in evaluate
    tl.vis.save_image(valid_hr_img, save_dir + '/valid_hr.png')
  File "/usr/local/miniconda3/envs/dl/lib/python3.6/site-packages/tensorlayer

[2019-04-19 07:15] BeepBump opened #138 "Change input channel"
Hi~
If I want to conduct some transform to input data, so that the # of channels will become 12 from 3.
How can I modify the code, so that the model can support 12-channel input/output?

[2019-04-22 04:31] wangyifenggg commented on #104
I met the same problems. Maybe using a different dataset can solve it. @huangqianfirst

[2019-04-23 01:59] huangqianfirst commented on #104
Yes . I trained with high resolution image and low resolution with JEPG noise images. This problem has been resolved.

[2019-04-24 12:10] mrgreen3325 opened #139 "The code seems not work?"
The error code is resourse exhausted.
But I tried not to preload the whole train set.
I used a GTX 1070.

def train():
    ## create folders to save result images and trained model
    save_dir_ginit = "samples/{}_ginit".format(tl.global_flag['mode'])
    save_dir_gan = "samples/{}_gan".format(tl.global_flag['mode'])
    tl.files.exists_or_mkdir(save_dir_ginit)
    tl.files.exists_or_mkdir(save_di

[2019-04-27 04:00] #80 closed

[2019-05-05 01:41] not-a-swiss-conductor commented on #10
@JustinhoCHN   Excuse me, I have a problem about checkpoints. I have run SRGAN about 350 epoch, and there are three files in checkpoint exactly. However, when I start 'main' again, after initial test 100 epoch, it still begins at 0/2000 ans runs over and over again. It seems that the checkpoint doesn't work.
Nevertheless, it shows load xxx.npz SUCCESS! I couldn't figure out why, could you please h

[2019-05-06 14:32] JustinhoCHN commented on #10
@not-a-swiss-conductor don't mind this 0/2000, it already restore the weights, 0/2000 just means you have 2000 epochs to train, not train from scratch.

[2019-05-14 08:23] zhaoyucong commented on #116
@wl3b10s   Can you train normally? I have the same problem

[2019-05-14 08:34] vivid-chen commented on #116
at first， you should comment the code(#......) about loading the file d_srgan.npz.
then you can try to run the code of training.
and a d_srgan.npz will be generated by the code after the first training.

PS:sorry, my english is poor and you may understand what i mean?

------------------ 原始邮件 ------------------
发件人: "zhaoyucong"<notifications@github.com>;
发送时间: 2019年5月14日(星期二) 下午4:23
收件人: "tensorl

[2019-05-15 08:19] zhaoyucong commented on #116
@vivid-chen  I commented the code as you said, but he still can't train.  Here are his closing tips
tensorflow 1.4.1   tensorlayer 1.8.1

 2019-05-15 16:12:17.332395: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1120] Creating TensorFlow device (/device:GPU:0) -> (device: 0, name: GeForce GTX 1080 Ti, pci bus id: 0000:1a:00.0, compute capability: 6.1)
[TL] [*] Load checkpoint/g_srgan.npz SUC

[2019-05-19 19:48] SlimRG opened #142 "WARNING:"
WARNING: Logging before flag parsing goes to stderr.
W0519 22:40:41.226523 15848 deprecation.py:323] From C:\Users\BBCCA\AppData\Local\Programs\Python\Python37\lib\site-packages\tensorflow\python\data\ops\dataset_ops.py:410: py_func (from tensorflow.python.ops.script_ops) is deprecated and will be removed in a future version.
Instructions for updating:
tf.py_func is deprecated in TF V2. Instead, t

[2019-05-25 12:27] zsdonghao commented on #142
thanks for the issue, apart from the warning, is there any thing else need to be improved?

[2019-05-27 22:40] Elwarfalli commented on #112
have you done it?

[2019-05-27 22:46] Elwarfalli commented on #112
@zsdonghao  I am getting this error when I change the channel from 3 to 1. any help

  File "main.py", line 73, in train
    net_g = SRGAN_g(t_image, is_train=True, reuse=False)
  File "D:\PhD\PhD\Code\Python\Photo-Realistic Single Image SR Uing GAN\SRGAN-master\model.py", line 163, in SRGAN_d
    padding='SAME', W_init=w_init, name='h0/c')
  File "D:\PhD\PhD\Code\Python\Photo-Realistic Single Ima

[2019-05-30 06:02] Kalpesh89 opened #143 "Warning: Not so important"
Code is working good. Only I am getting following warning at each step.
W0530 11:23:37.138493 140465058146112 optimizer_v2.py:928] Gradients does not exist for variables ['batchnorm_1/moving_mean:0', 'batchnorm_1/moving_var:0', 'batchnorm_2/moving_mean:0', 'batchnorm_2/moving_var:0', .......

I found that for some variables, we can't find gradient. So we need to tell them only trainable variables

[2019-06-05 01:40] zsdonghao commented on #112
hello, you can now update the code base. this repo is updated to tf2.0.0a0 and tl2.

[2019-06-05 21:48] yjlintw opened #144 "AttributeError: 'Model' object has no attribute 'weights'"
When I train the model with the dataset specified in the readme file. I got the following error
[code]
Any idea how to fix it?

[2019-06-05 21:59] yjlintw commented on #144
It seams to work after I change `G.weights` to `G.trainable_weights`

[2019-06-06 00:39] Atmyre opened #145 "Assigning pre-trained weights"
Hello!

As I see, pre-trained model should change from .npz format to .h5. How can I load pre-trained .npz weights now or get a new .h5 one?

Thanks

[2019-06-12 12:22] #40 closed

[2019-06-19 01:01] Tomdkim opened #147 "is this line necessary?"
https://github.com/tensorlayer/srgan/blob/14184cb4db4d8b6079e45c2d6d55e5e6af07df7d/train.py#L93

Hi there, when referring to your code regarding computing perceptual loss, I was wondering if this line of code would be necessary. Since you are using pretrained vgg19 model, it seems like taking out "vgg.train()" and adding the parameter "is_train=False" within vgg() function seems like the right way

[2019-06-19 02:30] bberry17 commented on #91
I have the same problem. Where did you add import time in model.py?
I tried like 10 times to add import time in model.py, but it didn't work...

[2019-06-19 03:15] bberry17 opened #148 ""'time' is not defined" error while training"
NameError: name 'time' is not defined
same as #76, #91 but I can't find a solution...
 Where should I add exactly ' import time' in model.py?
I tried like 10 times to add import time in model.py, but it didn't work..

[2019-06-19 05:30] zsdonghao commented on #147
This one is necessary, the new API uses `model.train()` `model.eval()` for train/test switching.

[2019-06-19 21:54] Fredy commented on #148
Can you paste the complete error log, please?

[2019-06-22 15:56] AndrzejBandurski opened #149 "too many values to unpack (expected 2)"
https://github.com/tensorlayer/srgan/blob/16c2e3f3d478a59675260d7d30389db110d0e0e3/train.py#L113

Traceback (most recent call last):
  File "train.py", line 356, in <module>
  File "train.py", line 113, in train

ValueError: too many values to unpack (expected 2)

[2019-06-23 13:17] YonghuiXu commented on #149
Hi,is this problem solved? I also encountered the same situation.

[2019-06-25 13:02] PeeJay commented on #84
FYI: I solved the OOM by reducing the batch size from 16 to 14

[2019-06-25 13:10] PeeJay commented on #144
Same problem here. There are a few instances that need changing.

[2019-06-25 16:54] bberry17 commented on #148
![image](https://user-images.githubusercontent.com/45968511/60117479-193fd800-97b5-11e9-98f3-ccbf7abae050.png)

When I put 'import time' on the lin #4 in model.py, I got a new error code like image.

  File "train.py", line 101, in train
    fake_hr_patchs = G(lr_patchs)
AttributeError: 'Model' object has no attribute 'weights'

What should I do for this error ?.....

[2019-06-25 17:15] Fredy commented on #148
Change all the `weights` occurrences with `trainable_weights`
There are other problems in `train.py`.
 I'm using the same `train.py` but for different generator and discriminator I have fixed the errors, but also I have change other things, you can check it [here](https://github.com/Fredy/srgan-1/blob/master/train.py)

[2019-06-25 17:45] bberry17 commented on #148
Thank you, I just downloaded your file and trained it.
There is no more error but, after training I tried python main.py --mode=evaluate and error again.
like below image,
![image](https://user-images.githubusercontent.com/45968511/60120676-5eb3d380-97bc-11e9-9e61-cf611a0545ef.png)

Do you solve this error, too?

[2019-06-25 17:56] Fredy commented on #148
I haven't fixed those things yet, sorry.
BTW I changed `generator_train`, `_map_fn_train` and excluded the VGG error part

[2019-06-25 18:00] bberry17 commented on #148
Thank you so much, I will be very appreciated if you reply again for this post after fix that error.
I will try, too.
Thank you.

[2019-06-25 23:01] Fredy commented on #149
replace
[code]
with
[code]

[2019-06-26 07:29] YYangZiXin commented on #144
Same problem

[2019-06-26 18:28] AndrzejBandurski commented on #149
I have corrected this already by myself, thank you very much for conforming !

new Issue though...
line 128: RuntimeError: GradientTape.gradient can only be called once on non-persistent tapes

[2019-06-27 01:48] zsdonghao commented on #149
@AndrzejBandurski set `persistent=True`

[2019-06-28 01:16] YonghuiXu opened #150 "InvalidArgumentError: Matrix size-incompatible: In[0]: [4,2048], In[1]: [512,1] [Op:MatMul] name: MatMul/"
Traceback (most recent call last):

  File "<ipython-input-1-c15e78fc333e>", line 1, in <module>
    runfile('/home/dongwen/Desktop/SRGAN/train.py', wdir='/home/dongwen/Desktop/SRGAN')

  File "/home/dongwen/anaconda3/envs/tf2/lib/python3.7/site-packages/spyder_kernels/customize/spydercustomize.py", line 827, in runfile
    execfile(filename, namespace)

  File "/home/dongwen/anaconda3/envs/tf2/li

[2019-06-28 01:18] #150 closed

[2019-06-30 14:05] AndrzejBandurski opened #151 "InvalidArgumentError"
https://github.com/tensorlayer/srgan/blob/068aca5450a712a66c646d43ff6595f13c4eb472/train.py#L330

after training I was trying to run the evaluation but got this error..

tensorflow.python.framework.errors_impl.InvalidArgumentError: cannot compute Conv2D as input #1(zero-based) was expected to be a double tensor but is a float tensor [Op:Conv2D] name: conv2d_1

[2019-06-30 14:13] zsdonghao commented on #151
make sure your input is dtype=np.float32

[2019-06-30 14:26] AndrzejBandurski commented on #151
what do you mean ??

after getting the model ( get_G from model.py )and loading the trained weights ( G.load_weights )the model gets printed ( pring(G) ) and there comes the error. G.eval()
nothing goes is as input yet !

can't you please be more specific ?
your comment right now is meaningless for me :(

[2019-06-30 14:35] zsdonghao commented on #151
[code]

this error only happen when the data type of your input is float64, simply change the data to float32 can solve the problem.

I have no idea what is happening on your side...

[2019-06-30 14:38] zsdonghao commented on #151
I add a line here to force all images to be float32, hope it helps https://github.com/tensorlayer/srgan/blob/master/train.py#L332

[2019-07-01 03:48] YonghuiXu opened #152 "InvalidArgumentError: Matrix size-incompatible: In[0]: [4,4096], In[1]: [256,1] [Op:MatMul] name: MatMul/"
Traceback (most recent call last):

  File "<ipython-input-2-c15e78fc333e>", line 1, in <module>
    runfile('/home/dongwen/Desktop/SRGAN/train.py', wdir='/home/dongwen/Desktop/SRGAN')

  File "/home/dongwen/anaconda3/envs/tf2/lib/python3.7/site-packages/spyder_kernels/customize/spydercustomize.py", line 827, in runfile
    execfile(filename, namespace)

  File "/home/dongwen/anaconda3/envs/tf2/li

[2019-07-01 03:51] zsdonghao commented on #152
the patch size is incorrect, did you crop the image

[2019-07-01 04:18] YonghuiXu commented on #152
Yes,I crop the image to 128*128. What I want to do is the input is 128*128,and the output is 128*128,too.I have modified the generator (delete the SunpixelConv2d layers). The output image is 4*128*128*3,but when I input it to discriminator, then I got this error.

------------------ 原始邮件 ------------------
发件人: "Hao"<notifications@github.com>;
发送时间: 2019年7月1日(星期一) 中午11:52
收件人: "tensorlayer/srgan"<

[2019-07-01 05:43] zsdonghao commented on #152
you need to change the shape of the input layer of the discriminator

[2019-07-02 18:18] Kjos commented on #148
Change the first two G.weights to G.trainableweights and add time, random again as final import:

import time, random
from datetime import datetime
import numpy as np
import scipy, multiprocessing
import tensorflow as tf
import tensorlayer as tl
from model import get_G, get_D
from config import config
import time, random

[2019-07-02 20:59] Kjos opened #153 "Bugs and suggestions"
- Initialize learning G never breaks the loop currently.
- Image ouput is overwritten each step in an entire epoch
         if (epoch != 0) and (epoch % 10 == 0):
            tl.vis.save_images(fake_hr_patchs.numpy(), [ni, ni], save_dir_gan + '/train_g_init_{}.png'.format(epoch))

Maybe this is better:

        if (epoch != 0) and (epoch % 10 == 0) and (step % 10 == 0):
            tl.vis.save_ima

[2019-07-02 21:02] Kjos commented on #153
My CPU side RAM is filled completely. Training crashes when doing other stuff. I believe

train_ds = train_ds.prefetch(buffer_size=4096)

can be lowered to fix this, but it's not much of an issue for me.

[2019-07-03 03:41] YonghuiXu commented on #152
Thanks. I changed the discriminator wrong.

[2019-07-03 05:52] YonghuiXu opened #154 "tensorflow.python.framework.errors_impl.InvalidArgumentError: input must be 4-dimensional[128,128,4] [Op:Conv2D] name: conv2d_1"
When I train the model, the batch_size==4. I want to evaluate a picture, but get the following error:

  2019-07-03 12:13:42.572599: W tensorflow/core/framework/op_kernel.cc:1431] OP_REQUIRES failed at conv_ops.cc:461 : Invalid argument: input must be 4-dimensional[128,128,4]
Traceback (most recent call last):
  File "train.py", line 239, in <module>
    evaluate()
  File "train.py", line 212, in

[2019-07-03 11:05] Kjos opened #155 "Matrix size-incompatible: In[0]: [1,18432], In[1]: [512,1]"
My training code:

[code]

My error:

[code]
My loading of images:
[code]
I prescale the input images to 384 (HR) and 96 (LR)

Any idea how to fix this?

[2019-07-03 11:08] Kjos commented on #155
It passes the G learning. I used a batch size of 1.

[2019-07-03 14:36] #152 closed

[2019-07-03 15:27] khg2478 commented on #152
Hi. I am having the same issue. Could you share how you revised the code?

[2019-07-03 16:30] khg2478 commented on #155
I am also facing the same issue. The code has some errors.

[2019-07-03 17:28] Kjos commented on #155
The problem seems to be in the discriminator.

I tried reverting it back to a previous state in git history:

[code]
but to no avail

[2019-07-04 01:19] khg2478 commented on #155
Flatten causes the problem. Perhaps it is the library problem. I have not deeply looked into the problem yet though. If you solve this issue, please let me know. I decided to use other source code.

[2019-07-04 05:12] #154 closed

[2019-07-04 05:14] YonghuiXu opened #156 "tensorflow.python.framework.errors_impl.InvalidArgumentError: input must be 4-dimensional[128,128,4] [Op:Conv2D] name: conv2d_1"
When I train the model, the batch_size==1. I want to evaluate a picture, but get the following error:
2019-07-03 12:13:42.572599: W tensorflow/core/framework/op_kernel.cc:1431] OP_REQUIRES failed at conv_ops.cc:461 : Invalid argument: input must be 4-dimensional[128,128,4]
Traceback (most recent call last):
File "train.py", line 239, in
evaluate()
File "train.py", line 212, in evaluate
out[0] = G(

[2019-07-04 05:17] YonghuiXu commented on #152
Maybe you change the discriminator layers.

[2019-07-05 03:33] YonghuiXu commented on #156
Already solved,thanks.

[2019-07-05 19:19] AndrzejBandurski commented on #156
cool, that's great, had the same issue..
would you share your solution ?

[2019-07-06 07:46] YonghuiXu commented on #156
OK. Two reasons. First，my test image is RGBA mode(4 channels), but the training images are RGB mod(3 channels).  So, I should judge the channel size. Second,  the shape of the test image should be changed to 4-dimensions.

[2019-07-17 04:16] CharlesDove opened #157 "Incompatable shapes: [2] vs. [3]"
While running train.py, the program fails at the line:
`  for step, (lr_patchs, hr_patchs) in enumerate(train_ds):`
And throws the error:
`2019-07-17 00:07:26.604020: W tensorflow/core/framework/op_kernel.cc:1546] OP_REQUIRES failed at iterator_ops.cc:1055 : Invalid argument: Incompatible shapes: [2] vs. [3]
         [[{{node random_crop/GreaterEqual}}]]`

I'm using my own dataset of 512x512 image

[2019-07-24 08:51] amanattrish opened #158 "ValueError: Object arrays cannot be loaded when allow_pickle=False"
I am working on srgan in google colab and facing this isssue. I havs downloaded the pre-trained model vgg19.npy and saved it in "models" folder. The dataset for training and validation is stored in "myImages" folder.

Corresponding changes have been made in config.py:
...
**## train set location
config.TRAIN.hr_img_path = 'myImages/DIV2K_train_HR/'
config.TRAIN.lr_img_path = 'myImages/DIV2K_train_

[2019-07-24 11:47] munitech4u opened #159 "Import error - ModuleNotFoundError: No module named 'model'"
While trying to make sure the all packages are there. This import statement in train.py is throwing error:

from model import get_G, get_D

ModuleNotFoundError: No module named 'model'

I can't find any such package 'model' from PyPi.org. What is it that I am missing here?

[2019-07-24 12:47] zsdonghao commented on #159
the model file is here https://github.com/tensorlayer/srgan/blob/master/model.py   ......

[2019-07-24 13:09] #159 closed

[2019-07-24 20:15] ChrisWu1997 commented on #158
Hi @amanattrish,

This error relates to recent update in Numpy, as reported in tensorlayer/tensorlayer#1019. And it is already fixed by PR tensorlayer/tensorlayer#1021. Please install the latest version of tensorlayer from GitHub:
[code]

[2019-07-25 04:33] amanattrish commented on #158
Thank You.

[2019-07-25 04:33] #158 closed

[2019-07-25 06:58] amanattrish opened #160 "process abortion with "^c" sign (seems like hitting ctrl+c while running)"
When I run python train.py, it aborted after sometime showing **^c**.

![aman1](https://user-images.githubusercontent.com/53205776/61852684-b33f9100-aed7-11e9-9e23-ad558d221fd5.PNG)

Consequently evaluation command also showing error:

**Traceback (most recent call last):
  File "train.py", line 359, in <module>
    evaluate()
  File "train.py", line 329, in evaluate
    G.load_weights(checkpoint_

[2019-07-25 11:03] #160 closed

[2019-07-25 11:17] amanattrish opened #161 "Running our of memory"
I am running it on google colab and I have been assigned to TESLA K80 GPU
![GPU_name](https://user-images.githubusercontent.com/53205776/61869916-6b7e3100-aefa-11e9-8062-e2a12a5bf654.PNG)

Even 12GB ram is not suffice. I wonder if someone else is facing same problem!
![GPU_problem](https://user-images.githubusercontent.com/53205776/61870038-b304bd00-aefa-11e9-92e0-cd20086da923.PNG)

Consequently t

[2019-07-25 13:52] ChrisWu1997 commented on #161
Hi, @amanattrish, regard the error, try to change `G.weights` to `G.trainable_weights` as there is some api changes in the latest tensorlayer.

@zsdonghao It seems that SRGAN should be updated.

[2019-07-25 14:26] tuchuants commented on #161
I have met the same problem today when I try to use the latest version of tensorflow and tensorlayer to train the model. It always popped out warnning"Allocation of 33554432 exceeds 10% of system memory", but the training process could still on.

[2019-07-25 14:27] iamAA commented on #161
This time everything worked fine except the process aborted with "^C" sign.
(see bottom of below attached pic)
![GPU_problem2](https://user-images.githubusercontent.com/34160895/61882364-03d5df00-af16-11e9-9f35-fa2094043bfd.PNG)

I guess it is because of running out of memory! Could you please some way to save memory?
![GPU_problem1](https://user-images.githubusercontent.com/34160895/61882420-25cf

[2019-07-25 14:42] zsdonghao commented on #161
I reduce the prefetch buffer size to 2. If it still out of memory, may need to reduce the batch size ..

[2019-07-25 21:17] lunayang712 commented on #157
Hi! Have you figured it out? I also have this issue.

[2019-07-26 03:26] amanattrish commented on #161
I changed prefetch buffer size to 512 and batch size to 4. It worked for me.
Thank You! 👍

[2019-07-26 03:26] #161 closed

[2019-07-26 03:35] amanattrish commented on #152
**I am facing same problem! I did not crop any image. Could you tell whats going wrong?**
![problem](https://user-images.githubusercontent.com/53205776/61924153-33233500-af84-11e9-9cbc-92dc97f6cd07.PNG)

Note:
I am using images from  **DIV2K - bicubic downscaling x4 competition** as recommended in README.md

[2019-07-26 09:24] munitech4u commented on #148
it should be G.trainable_weights and not "G.trainableweights"

[2019-07-27 05:48] YonghuiXu opened #163 "请问如果图片太多，一直加载不出来怎么办？"
## If your machine have enough memory, please pre-load the whole train set.
    train_hr_imgs = tl.vis.read_images(train_hr_img_list, path=config.TRAIN.hr_img_path, n_threads=32)

[2019-07-27 14:36] YonghuiXu opened #164 "Epoch: [1003/10] step: [1003/1] G_init time: 0.30186986923217773s, mse: 0.029376816004514694 2019-07-27 20:02:30.701958: W tensorflow/core/framework/op_kernel.cc:1431] OP_REQUIRES failed at iterator_ops.cc:988 : Invalid argument: Input shape axis 0 must equal 4, got shape [3] [[{{node crop_to_bounding_box/unstack}}]]"

[2019-07-28 04:32] YonghuiXu opened #165 "I need Help."
Epoch: [93/10] step: [186/2] time: 0.2719242572784424s, mse: 0.03679807484149933
2019-07-28 12:23:43.405599: W tensorflow/core/framework/op_kernel.cc:1431] OP_REQUIRES failed at iterator_ops.cc:988 : Invalid argument: Input shape axis 0 must equal 4, got shape [3]
	 [[{{node crop_to_bounding_box_1/unstack}}]]
Traceback (most recent call last):
  File "train.py", line 380, in <module>
    train()

[2019-07-28 11:06] amanattrish commented on #152
@zsdonghao @ChrisWu1997  please help

[2019-07-28 11:26] AndrzejBandurski opened #166 "tensorflow.python.framework.errors_impl.InvalidArgumentError: Matrix size-incompatible: In[0]: [4,18432], In[1]: [512,1] [Op:MatMul] name: MatMul/"
unfortunately this code is not working at all,
please repair the issues, test it and share again,
or give at least a notice "NOT WORKING AT ALL"

you last update from 2 days ago gives an error... ( like all the code before )
"... tensorflow.python.framework.errors_impl.InvalidArgumentError: Matrix size-incompatible: In[0]: [4,18432], In[1]: [512,1] [Op:MatMul] name: MatMul/ "

moving on to somewhe

[2019-07-28 14:27] zsdonghao commented on #166
Fix in here https://github.com/tensorlayer/srgan/releases/tag/1.4.0

[2019-07-28 14:27] #166 closed

[2019-07-28 14:28] zsdonghao commented on #165
Fix in here https://github.com/tensorlayer/srgan/releases/tag/1.4.0

[2019-07-28 14:28] #165 closed

[2019-07-28 14:28] zsdonghao commented on #164
Fix in here https://github.com/tensorlayer/srgan/releases/tag/1.4.0

[2019-07-28 14:28] #164 closed

[2019-07-28 14:28] zsdonghao commented on #157
Fix in here https://github.com/tensorlayer/srgan/releases/tag/1.4.0

[2019-07-28 14:28] #157 closed

[2019-07-28 14:29] zsdonghao commented on #155
Fix in here https://github.com/tensorlayer/srgan/releases/tag/1.4.0

[2019-07-28 14:29] #155 closed

[2019-07-28 14:29] zsdonghao commented on #156
Fix in here https://github.com/tensorlayer/srgan/releases/tag/1.4.0

[2019-07-28 14:29] #156 closed

[2019-07-28 21:05] ChrisWu1997 commented on #163
As the comment suggested, if you do not have enough memory to pre-load the whole dataset, only load a image when it is needed. You may need to change the `get_train_data` function in `train.py`

[2019-07-28 21:08] zsdonghao commented on #163
@ChrisWu1997 yes, I also set the batch size of the the latest commit to be 8, machine will low GPU memory should be available.

[2019-07-28 22:56] ChrisWu1997 commented on #152
Can you print the shape of `fake_patchs`? So to check it is a problem with `G` or `D`. The shape of `fake_patchs` is supposed to be (384, 384, 3).

[2019-07-28 23:00] ChrisWu1997 commented on #152
@amanattrish  Seems that this issue has been fixed. Check here #166.

[2019-07-29 12:29] YonghuiXu commented on #163
Thanks, now I reduce images from 200000 to 50000.

[2019-07-29 13:09] YonghuiXu opened #167 "关于#164、#165的问题的进一步研究与发现，是tf.data.Dataset.from_generator导致的问题，有没有替代方案？"
错误：
Epoch: [1003/10] step: [1003/1] G_init time: 0.30186986923217773s, mse: 0.029376816004514694 2019-07-27 20:02:30.701958: W tensorflow/core/framework/op_kernel.cc:1431] OP_REQUIRES failed at iterator_ops.cc:988 : Invalid argument: Input shape axis 0 must equal 4, got shape [3] [[{{node crop_to_bounding_box/unstack}}]]

如果数据集很小，代码正常运行，但是我需要的数据集稍大，就会出现上面的错误。下面的说明是在数据集有9999张图片下运行的结果。

今天，通过一步一步的推敲

[2019-07-29 14:57] #163 closed

[2019-07-29 15:11] zsdonghao commented on #167
[code]

[2019-07-29 15:14] YonghuiXu commented on #167
我单独写了个文件对数据集进行了测试，发现所有的图片的shape全部是（218，178，3），并没有(218,178)的图片。

---原始邮件---
发件人: "Hao"<notifications@github.com>
发送时间: 2019年7月29日(星期一) 晚上11:11
收件人: "tensorlayer/srgan"<srgan@noreply.github.com>;
抄送: "YonghuiXu"<2259949930@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [tensorlayer/srgan] 关于#164、#165的问题的进一步研究与发现: 是tf.data.Dataset.from_generator导致的问题，有没有替代方案？ (#167)

Epoch: [0/20] step: [187/2]

[2019-07-29 15:20] zsdonghao commented on #167
If your images is 3 dimension, the APIs would not return 2 dimension images ...
If it happen, I can't help ...

[2019-07-29 15:21] #1 closed

[2019-07-29 15:21] #12 closed

[2019-07-29 15:21] #11 closed

[2019-07-29 15:21] #10 closed

[2019-07-29 15:21] #9 closed

[2019-07-29 15:21] #5 closed

[2019-07-29 15:23] #148 closed

[2019-07-29 18:14] kapilsarwat opened #168 "Saving model"
Hey i am new to neural networks. Could you tell me how to save model after training😅?

[2019-07-30 01:23] zsdonghao commented on #168
https://tensorlayer.readthedocs.io/en/latest/user/get_start_model.html#save-and-restore-model

[2019-07-30 01:23] #168 closed

[2019-07-30 04:46] amanattrish opened #169 "The process automatically killed before running adversarial learning."
When I run **python train.py --mode=evaluate** command I get the following error:

**Traceback (most recent call last):
  File "train.py", line 204, in <module>
    evaluate()
  File "train.py", line 172, in evaluate
    G.load_weights(os.path.join(checkpoint_dir, 'g.h5'))
  File "/home/himanshu/BTP_AB/lib/python3.7/site-packages/tensorlayer/models/core.py", line 944, in load_weights
    raise Fil

[2019-07-30 05:43] zsdonghao commented on #169
this line saves the model https://github.com/tensorlayer/srgan/blob/master/train.py#L142

you need to wait until the training finished before running the evaluation code.

[2019-07-30 05:47] amanattrish commented on #169
You took it wrong. I didn't run evaluation code before finishing. The process automatically killed before running adversarial learning. Hence no saving of model!

[2019-07-30 06:03] NagasaiBharat opened #170 "Problem while loading"
I am trying to load the pretrained model vgg19 using command **model = np.load('vgg19.npy')** and getting the following error:
**694         # The array contained Python objects. We need to unpickle the data.
    695         if not allow_pickle:
--> 696             raise ValueError("Object arrays cannot be loaded when "
    697                              "allow_pickle=False")
    698         if

[2019-07-30 06:05] zsdonghao commented on #170
no `model = np.load('vgg19.npy')` in the latest code, could you try to update the code ?

[2019-07-30 06:06] zsdonghao commented on #169
ok, I change the issue title to `The process automatically killed before running adversarial learning.`

Could you give me the error logging of the auto killing?  Thanks.

[2019-07-30 06:16] amanattrish commented on #169
I don't have the error log. But as far as I remember the error was not raised by system and anything that happened was after **filling up buffer suffle** and then there was a just a message **Process Killed**.

[2019-07-30 06:40] NagasaiBharat commented on #170
could you suggest how to use vgg19 model directly?

[2019-07-30 06:49] zsdonghao commented on #170
this line https://github.com/tensorlayer/srgan/blob/master/train.py#L76

[code]

help you automatically download and load the model

[2019-07-30 17:05] amanattrish commented on #169
@zsdonghao
This was the log I got:
**2019-07-30 22:19:35.836425: I tensorflow/core/kernels/data/shuffle_dataset_op.cc:111] Filling up shuffle buffer (this may take a while): 24 of 128
2019-07-30 22:19:45.109756: I tensorflow/core/kernels/data/shuffle_dataset_op.cc:111] Filling up shuffle buffer (this may take a while): 44 of 128
2019-07-30 22:19:55.090488: I tensorflow/core/kernels/data/shuffle_da

[2019-07-30 17:14] zsdonghao commented on #169
I see, this way could help: use the method in the following link to load images for each batch instead of reading the entire dataset into the RAM at the beginning.

https://github.com/tensorlayer/dcgan/blob/master/data.py#L28

[2019-07-30 17:15] zsdonghao commented on #145
use the new code should help

[2019-07-30 17:15] #145 closed

[2019-07-30 17:15] zsdonghao commented on #153
I see, this way could help: use the method in the following link to load images for each batch instead of reading the entire dataset into the RAM at the beginning.

https://github.com/tensorlayer/dcgan/blob/master/data.py#L28

and reduce the prefetch size to 2, remove the shuffle line

[2019-07-30 17:16] zsdonghao commented on #143
thanks, it is fixed now

[2019-07-30 17:16] #143 closed

[2019-07-30 17:16] zsdonghao commented on #139
I see, this way could help: use the method in the following link to load images for each batch instead of reading the entire dataset into the RAM at the beginning.

https://github.com/tensorlayer/dcgan/blob/master/data.py#L28

and reduce the prefetch size to 2, remove the shuffle line

[2019-07-30 17:54] amanattrish commented on #169
Memory problem is also there after running evaluation command. Btw, how to test the model (I mean on test_LR images)?

[2019-07-31 03:17] kapilsarwat opened #171 "How to test on custom image?"
Python train.py --mode=evaluate is running only for some images in valid_hr and valid_lr directories.
Is there any way to run the model for test_lr?
@zsdonghao

[2019-07-31 18:26] ChrisWu1997 commented on #171
I think it's easy to modify a few line of the `evaluate` function in `train.py` to enable testing on customized image.
https://github.com/tensorlayer/srgan/blob/aeca83bc85adabdefa0e75db470379b878e54051/train.py#L167

[2019-08-03 03:06] rinabell commented on #144
It works perfect for me.

[2019-08-04 09:15] AzzerAce commented on #170
Change the code from:
`model = np.load('vgg19.npy')`
to:
`model = np.load('vgg19.npy', allow_pickle=True)`
At least that worked for me :)

[2019-08-06 06:04] amanattrish commented on #169
I was just a problem of memory. I omitted some of the layers from generator and discriminator and it worked.

[2019-08-06 06:04] #169 closed

[2019-08-06 06:05] kapilsarwat commented on #171
Ok thanks

[2019-08-06 06:05] #171 closed

[2019-08-06 06:20] amanattrish commented on #161
@zsdonghao
could you please explain the prefetch buffer size?

[2019-08-06 06:29] zsdonghao commented on #161
@amanattrish google : TensorFlow prefetch buffer   should help

[2019-08-16 10:21] 1LOVESJohnny commented on #143
Hi I met the same problem, do you know how to solve it?

[2019-08-16 11:56] Kalpesh89 commented on #143
I changed tensorlayer/tensorflow version(upgrade or degrade, exactly not
remembered). It solved for me.

On Fri, 16 Aug 2019, 15:51 1LOVESJohnny, <notifications@github.com> wrote:

[2019-08-16 13:05] YonghuiXu opened #172 "Hi! I need to use tensorflow2.0 beta1 GPUs one computer for SRGAN ,but get error as follows. Because of BatchNorm layers, how to solve this problem?"
I have find the problem.There are BatchNorm layers in SRGAN discriminator. When I delete them, the program can work. Or when I didn't use tf.distribute.MirroredStrategy, the program can work. Do tf.distribute.MirroredStrategy permit  BatchNorm? How can I use GPUs?

def G_D_fn(epoch, batch_data):
train_data, feature = batch_data
with tf.GradientTape(persistent=True) as tape:
    generates = G( trai

[2019-08-16 14:41] ChrisWu1997 commented on #172
Hi, can you provide the error information?

[2019-08-16 17:13] lunayang712 commented on #89
@HenryJunW @jiangshashen Hi! Did it successfully work on a smaller dataset?

[2019-08-17 11:36] YonghuiXu commented on #172
Traceback (most recent call last):
  File "train.py", line 680, in <module>
    train()
  File "train.py", line 319, in train
    per_d_loss, per_g_loss, per_d_loss1, per_d_loss2, per_g_gan_loss, per_mse_loss, per_vgg_loss, per_style_loss = strategy.experimental_run_v2(G_D_fn, args=(epoch, batch_data, ))
  File "/home/dongwen/anaconda3/envs/tf2/lib/python3.7/site-packages/tensorflow/python/distrib

[2019-08-19 09:30] SuborbitalIndian commented on #172
Hi, I have faced a similar issue. replace BatchNorm with BatchNorm2d. It should work.

[2019-08-19 09:50] YonghuiXu commented on #172
Thank you,Vikra.I just try like what you said, but I got the same error.

---Original---
From: "Vikram Meena"<notifications@github.com>
Date: Mon, Aug 19, 2019 17:31 PM
To: "tensorlayer/srgan"<srgan@noreply.github.com>;
Cc: "YonghuiXu"<2259949930@qq.com>;"Author"<author@noreply.github.com>;
Subject: Re: [tensorlayer/srgan] Hi! I need to use tensorflow2.0 beta1 GPUs one computer for SRGAN ,but get

[2019-08-19 11:18] SuborbitalIndian commented on #172
Hi, can you share some train.py file? or you try other variation of the mirrored strategy. like
`tf.distribute.MirroredStrategy(devices= ["device:GPU:%d" % i for i in range(num_gpus)], cross_device_ops= tf.distribute.HierarchicalCopyAllReduce(1))`

`tf.distribute.experimental.MultiWorkerMirroredStrategy(communication=tf.distribute.experimental.CollectiveCommunication.AUTO)`.

tf.distribute.Mirrore

[2019-08-19 13:00] jiangshashen commented on #89
yes

[2019-08-19 13:01] jiangshashen commented on #89
yes,i did it

[2019-08-24 03:42] yuyuziliu commented on #48
Sorry for bothering. Why the VGG feature maps have to be recaled by 1/12.75? I am confused by this.

[2019-08-24 06:25] zsdonghao commented on #48
@yuyuziliu  the VGG is pre-trained using image with scale of 0 ~ 1

[2019-08-27 07:45] Teragron opened #174 "Why can't import "Input""

[2019-08-27 10:44] #174 closed

[2019-08-27 10:57] Teragron opened #175 "Epoch stuck at 0"
![IMG_20190827_135316](https://user-images.githubusercontent.com/54573938/63765653-30dd2f00-c8d2-11e9-9312-d376316b2545.jpg)
![IMG_20190827_135548](https://user-images.githubusercontent.com/54573938/63765802-7ac61500-c8d2-11e9-8de1-9eb75d43a6bf.jpg)

So right now the step is in 49/12 but epoch is still 0.
I think it's about folders that i've created but don't know what to do.

[2019-08-28 20:53] Teragron commented on #175
@lunayang712 thanks a lot, so i need 5 folder in DIV2K right?

[2019-08-28 20:59] Teragron commented on #175
Ok so i did this:

[code]

![Ekran Alıntısı](https://user-images.githubusercontent.com/54573938/63892222-c91d0600-c9ef-11e9-9fda-8c1d9d9f8306.PNG)

I think it's going to work right know.

[2019-08-28 22:16] Teragron commented on #175
Unfortunately the problem continues :(

![Uploading Ekran Alıntısı.PNG…]()

[2019-08-28 22:21] lunayang712 commented on #175
check the lr img path? or maybe the epoch, batch size setting parameters are going wrong.

[2019-08-28 22:34] Teragron commented on #175
double checked
any that's the config.py

[code]
I'm not using tensorflow-gpu maybe that's the reason, thanks for the help.

[2019-09-03 09:51] JunbinWang commented on #104
hi @wangyifenggg  does the SRGAN model can handle the image compression artifacts by training it
with jpeg LR dataset ?

[2019-09-03 12:54] wangyifenggg commented on #104
If you want to make your own training dataset, it's important to choose an appropriate way to make your LR dataset. For example, if you use nearest interpolation, the LR pictures will not smooth enough, which will damage the output of the SRGAN model. Maybe you can use area interpolation to produce LR pictures which are more smooth, and you can get better training result.

[2019-09-18 14:45] thinkingfl opened #176 "Question about channel size doesn't equal to 3"
I want to apply this model to grayscale image (which do not have rgb values), where to change the channel or training input size?

[2019-09-18 19:41] lunayang712 commented on #176
Hi! I tried to change the input file from grayscale to RGB and it works.
Please see the attached. Hope it works for you!
https://github.com/lunayang712/srgan_grayscale

[2019-09-18 19:56] thinkingfl commented on #176
Thanks

On Sep 18, 2019, at 2:41 PM, lunayang712 <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi! I tried to change the input file from grayscale to RGB and it works.
Please see the attached. Hope it works for you!
https://github.com/lunayang712/srgan_grayscale

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://

[2019-09-19 09:06] Jars-of-jam-Scheduler opened #177 "How to predict the HR version of an image, whatever its dimensions are?"
This model is trained on input images of a certain dimension. In a program, I'd want to use it in order to predict the HR version of 128x12 images,  4029x4539 images, 128x128 images, etc.

Of course I don't want to train the model on each combinations of possible dimensions... And obviously, I can't change the model's input layer's shape at runtime.

What are the necessary changes that should be d

[2019-09-20 20:26] jcai20 commented on #51
@lfang-salk Could you please send me the pre-trained model? Thanks for your help. My email is caijie0620@gmail.com

[2019-09-26 10:15] Yuui-Asuka opened #178 "issues about loss function and scipy version."
1 .Is it better to use LSE Loss instead of sigmoid? According to the paper https://arxiv.org/abs/1611.04076, I changed "g_loss" to "tf. reduce_mean (tf.nn.l2_loss (fake_output - tf. ones_like (fake_output)))".
2. "imresize" and "imread" has been removed from scipy.misc since scipy-1.3.0，but the API in the source code was not updated, which caused some problems, are there any plans to update the AP

[2019-10-04 00:23] NadineMM commented on #60
I have the same problem. Where do you change the number of n_threads

[2019-10-08 18:08] mcDandy opened #180 "problems running on windows"
`python train.py`

2019-10-08 20:55:32.978162: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library cudart64_100.dll
2019-10-08 20:55:35.246078: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library nvcuda.dll
2019-10-08 20:55:35.333633: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1618] Found device

[2019-10-08 18:16] mcDandy commented on #180
![2019-10-08 (28)](https://user-images.githubusercontent.com/18588943/66421537-564c7500-ea08-11e9-8562-1f794d1924eb.png)
Had split second to capture this. cmd.exe cannot cd to another disc and there is not option open in command prompt.

[2019-10-08 18:44] mcDandy commented on #180
Is it becouse I use custom dataset of png files? (1920x1080)

[2019-10-08 19:24] mcDandy commented on #180
i changed only config.TRAIN.hr_img_path to point into dataset

[2019-10-09 01:44] leffey opened #181 "The BatchNorm is not defined"
Traceback (most recent call last):
  File "train.py", line 202, in <module>
    train()
  File "train.py", line 74, in train
    G = get_G((batch_size, 96, 96, 3))
  File "/xx/SR/srgan-tf/model.py", line 27, in get_G
    n = BatchNorm(gamma_init=g_init)(n)
NameError: name 'BatchNorm' is not defined

why ?

[2019-10-09 01:45] leffey commented on #180
i have same question

[2019-10-09 01:53] #181 closed

[2019-10-11 11:30] mcDandy commented on #181
The same happened to me, but on windows.

[2019-10-11 11:37] zsdonghao commented on #181
are you sure you are using the latest code?

[2019-10-11 12:10] mcDandy commented on #180
Changed line 27 `n = BatchNorm(gamma_init=g_init)(n)` to ` n = BatchNorm2d(gamma_init=g_init)(n)` and updated tensorflow, but different problem arised

python train.py
2019-10-11 13:54:32.192366: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2
100% (70151 of 70151) |#######################################

[2019-10-12 10:19] mcDandy commented on #181
Yes. Cloned from master 4 days ago.

Dne pá 11. říj 2019 13:37 uživatel Hao <notifications@github.com> napsal:

[2019-10-12 10:21] mcDandy commented on #181
fixed it in my pull reqest

[2019-10-18 02:08] sintaxed commented on #180
Hey I fixed the Batchnorm problem by adding BatchNorm to the imports at the beginning

from tensorlayer.layers import (Input, Conv2d, BatchNorm2d, Elementwise, SubpixelConv2d, Flatten, Dense)
->
from tensorlayer.layers import (Input, Conv2d, BatchNorm, BatchNorm2d, Elementwise, SubpixelConv2d, Flatten, Dense)

I had the pickle error too, but the only way I could get around it was by running the sc

[2019-10-18 02:33] sintaxed commented on #178
Using an earlier scipy version fixes this; don't think it needs to be updated
pip3 install scipy==1.1.0

[2019-10-18 03:04] sintaxed opened #183 "UnboundLocalError: local variable 'fake_hr_patchs' referenced before assignment"
[code]
I don't think the warning matters, but I've included it just in-case. I can run the script upto this point where it saves the images, but can't figure out why I get this error. I'm guessing this loop never happens:

[code]
but I don't know what the actual problem is.

[2019-10-18 06:21] mcDandy commented on #180
I am using tensorfow 2.0.0 and numpy 1.16.5. Will try it.

[2019-10-18 07:01] mcDandy commented on #180
fixed and downgraded numpy

the error is strange, the variable was set in scope few lines on top.

after python train.py
2019-10-18 08:50:28.953029: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2                                                                       Traceback (most recent call last):

[2019-10-18 07:21] mcDandy commented on #180
Dataset of 2 images is too small. small fraction of my dataset (75/about 25k) is enouch to run. Ignore the error above is just becouse too smal dataset.

[2019-10-18 08:08] sintaxed commented on #183
"Dataset of 2 images is too small. small fraction of my dataset (75/about 25k) is enouch to run. Ignore the error above is just becouse too smal dataset."

from other thread

[2019-10-18 08:08] #183 closed

[2019-10-18 08:57] mcDandy commented on #180
Should have closed this issue and create new. This is no longer problem of starting, but training/post training it.

[2019-10-18 08:57] #180 closed

[2019-10-18 09:20] Mmxun opened #184 "Where is the pretrained g_srgan.npz?"
I can not find the pretrained g_srgan.npz in readme.md

[2019-10-18 16:27] mcDandy opened #185 "train step"
Is it normal, that step goes to half of maximum and then new epoch starts?

2019-10-18 18:06:16.465435: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2
Epoch: [0/100] step: [0/6] time: 41.505s, mse: 0.587
Epoch: [0/100] step: [1/6] time: 36.611s, mse: 0.473
Epoch: [0/100] step: [2/6] time: 34.067s, mse: 0

[2019-10-18 17:37] mcDandy commented on #185
When I added 1658 images instead of 75 its now on step 32/6.

[2019-10-18 17:41] mcDandy commented on #185
It is dependent on count of train images appers to be related or duplicate of #175

[2019-10-18 17:41] #185 closed

[2019-10-18 18:58] mcDandy commented on #175
It will change the epoch. When depending on size of dataset. this is with batch_size=16 and output image array set to 4x4; images = 1024x768 count: 1658

Epoch: [0/100] step: [100/6] time: 31.102s, mse: 0.066
Epoch: [0/100] step: [101/6] time: 31.113s, mse: 0.051
Epoch: [0/100] step: [102/6] time: 31.199s, mse: 0.095
Epoch: [1/100] step: [0/6] time: 33.887s, mse: 0.060
Epoch: [1/100] step: [1/6] t

[2019-10-19 15:26] mcDandy opened #186 "OutOfMemory With huge datasets."
I have huge dataset (about 30k images with size 1920x1080). It is possible to load only parts of dataset to avoid this?

2019-10-19 17:05:57.408663: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2
Exception in thread threading_and_return:
Traceback (most recent call last):
  File "C:\Program Files\Python3

[2019-10-21 03:11] yugsdu opened #187 "generated image with serious checkboard(or mosaic)"
Hello, author. I run your code without modification, but the resulted image has serious checkboard / mosaic shape. Could you tell me why? Have you met this problem before? How should I do to solve it? Thank you very much.

"this is original image"
![0801](https://user-images.githubusercontent.com/35397579/67174446-9cd0a500-f3f4-11e9-8a21-cfcfe7dc3206.png)

"this is resulted image"
![girl_gen](http

[2019-10-21 03:18] zsdonghao commented on #187
did you finish the training?

[2019-10-21 03:22] yugsdu commented on #187
Thank you for replying me imediately. Indeed, I really finished the training. I even set the epoch larger for second training. However, the resulted image still unpleasant. I get lost...

[2019-10-21 03:38] zsdonghao commented on #187
I see, could you show the output images for different epoch? so that I can check what is the problem..

I doubt it is caused by the TensorFlow version..

[2019-10-21 03:54] yugsdu commented on #187
Thank you. Since I didn't modify this code, in ./samples/srgan_gan, these are some results as below. As for resulted image for this "girl" image in different epochs, maybe I should retrian the model again.
![train_10](https://user-images.githubusercontent.com/35397579/67175579-38641480-f3f9-11e9-9c2a-a5e2b37af95b.png)
![train_20](https://user-images.githubusercontent.com/35397579/67175580-38fcab00

[2019-10-22 01:41] yugsdu commented on #187
I see. I made a mistake... When I train the model from the scratch with your dataset, it is OK. However, when I tried to test the "gril" image, it didn't work because of its bmp format...
That maybe the image forma(jpg, bmp, png) problem.
Thank you anyway.

[2019-10-22 01:53] yugsdu opened #188 "TypeError: unsupported operand type(s) for *: 'Conv2dLayer' and 'float'"
Hello author, when I tried to modify your resdiual block code with a scaling factor 0.1, I met this probelm: "TypeError: unsupported operand type(s) for *: 'Conv2dLayer' and 'float'".
I have tried to find solutions in "tensorlayer" but failed.
Could you tell me how should I do to multiply scaling factor?

Sorry for disturbing you again...

"this is your original code"
![image](https://user-images.

[2019-10-22 02:05] zsdonghao commented on #187
Cool, great to hear that.

[2019-10-22 02:15] zsdonghao commented on #188
no `Conv2dLayer` in your code ..

please use Scale layer, instead of 0.1*nn

[2019-10-22 02:39] yugsdu commented on #188
Emm, I seemd to make a stupid mistake again...
Thank you very much!

[2019-10-24 13:25] rinabell commented on #181
it happened to me, but another machine works well with the same environment...
could not find why

[2019-10-25 12:34] mcDandy commented on #175
this is strange too

Epoch: [2/1] step: [70/125] time: 198.491s, g_loss(mse:0.032, vgg:0.051, adv:0.007) d_loss: 1.294
Epoch: [2/1] step: [71/125] time: 219.722s, g_loss(mse:0.033, vgg:0.054, adv:0.004) d_loss: 0.420
Epoch: [2/1] step: [72/125] time: 221.830s, g_loss(mse:0.024, vgg:0.042, adv:0.005) d_loss: 0.463
Epoch: [3/1] step: [0/125] time: 213.389s, g_loss(mse:0.032, vgg:0.036, adv:0.004) d_

[2019-10-27 11:50] zsdonghao commented on #175
why the training is so slow.. did you use GPU?

[2019-10-27 15:21] sherinaly commented on #181
I am running the srgan code on coLab and same error happens. It is running under Tf 2 and TL 2. Any one knows how to solve this?

[2019-10-28 11:15] mcDandy commented on #175
Data set info: 1 176 images at 1920x1080
CPU: Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz
GPU: NVIDIA Quadro P1000

I have installed tensorflow-gpu.  Does not apper to. at least  in first phase
Epoch: [0/1] step: [3/0] time: 42.531s, mse: 0.325
Sometímes some sparks of activity on cuda cores lasting about 1 min. Does not apper to have effect on step time.
Memory currently 35GB / 16 GB

Epoch: [0/1] s

[2019-10-28 18:55] mcDandy commented on #175
How do I train on GPU? I restarted training, becouse I changed epoch count to 10 so the model saves. GPU is doing basicly nothing.

[2019-10-29 11:21] Charlotte977 opened #189 "About the discriminator"
Why you did not use the network in this paper?
Did you design it by yourself?

[2019-10-29 11:33] zsdonghao commented on #189
https://github.com/tensorlayer/srgan/blob/master/model.py#L119 you can use the original one if your GPU mem is large.

[2019-10-29 11:33] #189 closed

[2019-10-29 11:33] #188 closed

[2019-10-29 11:33] #187 closed

[2019-10-29 11:34] zsdonghao commented on #186
load the images batch by batch then..

[2019-10-29 11:34] zsdonghao commented on #184
it is not provided

[2019-10-29 11:34] #184 closed

[2019-10-29 12:09] Charlotte977 opened #190 "About the discriminator"
Why you did not use the network in this paper?
did you design it by yourself?

[2019-10-29 12:20] #190 closed

[2019-10-29 18:05] mcDandy commented on #175
Batch size was 36 (Max I can go)

Epoch: [9/10] step: [31/0] time: 148.904s, mse: 0.033
2019-10-29 18:59:18.131505: W tensorflow/core/framework/op_kernel.cc:1622] OP_REQUIRES failed at conv_ops.cc:501 : Resource exhausted: OOM when allocating tensor with shape[36,48,48,256] and type float on /job:localhost/replica:0/task:0/device:CPU:0 by allocator cpu
Traceback (most recent call last):
  File "tr

[2019-10-29 20:12] mcDandy commented on #186
The problem is how to do that. Is it possible to somehow merge the neural nets afterwards or What I need to do in the code?
Sorry I do not understand python and the libray rmuch.

[2019-10-31 18:33] mcDandy commented on #181
I had same error. It was on windows. You will need to import BatchNorm from
the same library (or how it is called in python) as BatchNorm2d

Dne ne 27. říj 2019 16:21 uživatel sherinaly <notifications@github.com>
napsal:

[2019-10-31 23:39] sherinaly opened #191 "UnboundLocalError: local variable 'fake_hr_patchs' referenced before assignment"
Hi I am running the code on Colab and i get this error
---------------------------------------------------------------------
2019-10-31 23:37:31.450293: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcuda.so.1
2019-10-31 23:37:31.452039: E tensorflow/stream_executor/cuda/cuda_driver.cc:318] failed call to cuInit: CUDA_ERROR_NO_DEVICE: no CUDA

[2019-10-31 23:41] sherinaly commented on #181
Solved, I included BatchNorm in the model file.
Thank you